extends layout/template

block vars
	- var pageName = "about";
	- var pageTitle = "Стальной контракт. О компаниит";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.about
		.inner
			.about__image(style='background-image:url(../img/pipe.jpg);')

			.about__content
				.about__text
					.about__title Мы покупаем трубы
					.about__text-inner
						p ДОРОГО ПОКУПАЕМ ТРУБЫ БУ, СПРОС НА СТАЛЬНЫЕ ТРУБЫ НОВЫЕ, ТРУБЫ ЛЕЖАЛЫЕ, ОСТАТКИ ТРУБНОЙ ПРОДУКЦИИ. ОРГАНИЗУЕМ ДЕМОНТАЖ ТРУБНОГО ЛОМА С САМОВЫВОЗОМ.
						.about__text-content
							.about__text-item
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
							.about__text-item
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.

				.about__form
					.about__title Отправьте нам свое предложение
					.about__form-inner
						form.form.form-validate(action='', method='post', data-autoupload='http://test.maestros.ru/test.php')
							.form__wrap
								.form__field
									.form__input
										input(type='text', name='name', data-require='true')
										.form__placeholder Имя

								.form__field
									.form__input
										input(type='text', name='phone', data-require='true', data-mask='+7 999 999-99-99')
										.form__placeholder Телефон

								.form__field
									.form__input
										input(type='email', name='email', data-require='email')
										.form__placeholder E-mail

								.form__field
									.form__input
										textarea(name='comment')
										.form__placeholder Комментарий

								.is-hidden
									input(type='file', name='file', multiple)#file

							.form__file
								.form__field.no-mobile
									.form__input
										label.btn(for='drugndropFileInput') Прикрепить файл

								.form__field.form__field_right
									.form__input
										button(type='submit').btn.btn_fill Отправить

								.form__field.form__field_drop.no-mobile.drugndrop__box
									.drop-inner
										.drop-text Мы можете прикрепить реквизиты к форме заказа, или просто перетяните файл сюда. Максимальный размер файла 15мб. Нельзя прикрепить более 10 файлов.
										.drop-case





block append
