extends layout/admin.template.pug

block vars
	- var pageName = "about";
	- var pageTitle = "";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.row
		//-.col.col-sm-8.col-md-6.col-lg-5.col-xl-4
		.form
			form
				h3.mb-3 Укажите артикул товара

				.form-group
					input.form-control(type='text' placeholder='Укажите артикул товара')
					small.form-text.text-success Артикул найден
					small.form-text.text-danger Артикул не найден
				button.btn.btn-info(type='submit') Найти артикул

			form
				h3.mb-3.mt-4 Добавьте изображения

				.form-group
					.form-image
						.form-image-img
							img(src='https://via.placeholder.com/468x300')
							.btn.btn-sm.btn-danger.js-file-delete Удалить
						.form-image-name название_файла_1.jpg
						label
							input(type='file', name='image[0]', hidden).js-file-input
							.btn.btn-info Добавить фото

					.form-image
						.form-image-img
							img(src='https://via.placeholder.com/468x300')
							.btn.btn-sm.btn-danger.js-file-delete Удалить
						.form-image-name название_файла_2.jpg
						label
							input(type='file', name='image[0]', hidden).js-file-input
							.btn.btn-info Добавить фото

					.form-image
						label
							input(type='file', name='image[1]', hidden).js-file-input
							.btn.btn-info Добавить фото


				h3.mb-3.mt-4 Добавить фото на сайт

				.form-group

				button.btn.btn-info(type='submit') Отправить



block append
