extends layout/template

block vars
	- var pageName = "base";
	- var filter = true;
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.catalog
		.inner
			.catalog__filter

				form.form.form-validate(action='', method='post')

					.form__field.form__field_control.only-mobile
						.form__input
							.btn.btn_fill.js-clear-form Очистить
							button(type='submit').btn.btn_fill Применить

					.form__field
						.form__title Диаметр, мм
						+select('Диаметр', 'dim_1', [{name: '156', value: '156'}, {name: '168',value: '168'}, {name: '219', value: '219'}, {name: '245', value: '245'}, {name: '273',value: '273'}, {name: '325', value: '325'}, {name: '377', value: '377'}, {name: '426',value: '426'}, {name: '530', value: '530'}, {name: '630', value: '630'}, {name: '720',value: '720'}, {name: '820', value: '820'}, {name: '920', value: '920'}, {name: '1020',value: '1020'}, {name: '1220', value: '1220'}, {name: '1420', value: '1420'}])
					.form__field
						.form__title Толщина станки, мм
						+select('Толщина стенки', 'dim_2', [{name: '4', value: '4'}, {name: '5',value: '5'}, {name: '6', value: '6'}, {name: '8', value: '8'}, {name: '10', value: '10'}])
					.form__field.f-disable
						.form__title Состояние
						+select('Состояние', 'dim_3', [{name: 'Новая', value: '1'}, {name: 'Восстановленная',value: '2'}, {name: 'Лежалая', value: '3'}, {name: 'Убитая в хлам', value: '4'}])
					.form__field.more-mobile
						.form__input
							a(href='#').btn.btn_clear.js-clear-form Очистить фильтр
					.form__field.only-mobile
						.form__input
							button(type='submit').btn.btn_fill Применить фильтр

			.catalog__info
				.catalog__info-text Найдено 58 предложений

				.catalog__info-control
					.catalog__info-view.catalog__info-view_grid: include ../img/svg/view-grid.svg
					.catalog__info-view.catalog__info-view_list.is-active: include ../img/svg/view-line.svg

			//-.catalog__list.catalog__list_lines
			.catalog__list.catalog__list_lines
				.catalog__head
					.catalog__head-inner
						.catalog__head-col.catalog__head-col_id Арт.
						.catalog__head-col.catalog__head-col_state
							.catalog__head-filter: .catalog__head-filterin Состояние
						.catalog__head-col.catalog__head-col_dim
							.catalog__head-col-inner.catalog__head-filter
								span: .catalog__head-filterin Диаметр
								span: .catalog__head-filterin толщина
						.catalog__head-col.catalog__head-col_img Фото
						.catalog__head-col.catalog__head-col_name Описание
						.catalog__head-col.catalog__head-col_price
							.catalog__head-col-inner.catalog__head-filter
								span: .catalog__head-filterin Цена в тн.
								span: .catalog__head-filterin Цена за м.п.
				+product(8)
				+product(10)
				+product(3)
				+product(1)
				+product(2)
				+product(3)
				+product(1)
				+product(2)
				+product(3)
				+product(1)
				+product(2)
				+product(7)




block append
