extends layout/template

block vars
	- var pageName = "map";
	- var pageTitle = "Стальной контракт. Карта сайта";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	//-include content/__examples_form

	.contacts
		.contacts__map#contactMap
		.inner
			.contacts__info
				.contacts__title Наши контакты:

				.contacts__list
					.contacts__item
						.contacts__item-ico: .ico-phone
						.contacts__item-value 8 (911) 962-11-55
						.contacts__item-footnote Телефон президента
					.contacts__item
						.contacts__item-ico: .ico-phone
						.contacts__item-value 8 (911) 962-11-55
						.contacts__item-footnote Телефон президента
					.contacts__item
						.contacts__item-ico: .ico-phone
						.contacts__item-value 8 (911) 962-11-55
						.contacts__item-footnote Телефон президента

				.contacts__list
					.contacts__item
						.contacts__item-ico: .ico-email
						.contacts__item-value info@scontact.com
						.contacts__item-footnote Информационная служба
					.contacts__item
						.contacts__item-ico: .ico-email
						.contacts__item-value admin@scontact.com
						.contacts__item-footnote admin@scontact.com

				.contacts__title Время работы:

				.contacts__list
					.contacts__item
						.contacts__item-ico: .ico-watch
						.contacts__item-value Пн-Пт: с 9:00 - 18:00
					.contacts__item
						.contacts__item-value Сб-Вс: Выходной

				.contacts__subtitle Адреса:

				.contacts__text
					p Адрес склада: 196626 г.Санкт-Петербург, поселок Шушары, Московское шоссе, д.201, лит. «А»
					p Юр. адрес: 196641, г. Санкт-Петербург, пос. Металлострой, промзона «Металлострой», ул. Дорога на Металлострой, строение 5 лит. «У»


				.contacts__file
					.contacts__subtitle Реквизиты

					.contacts__file-item
						.contacts__file-ico: .ico-file
						.contacts__file-text Полные реквизиты компании. #[br]#[a(href='#', download) Скачать]

				.contacts__navigate
					//-a(href='https://yandex.ru/maps/-/CBR172rQSC', target='_blank').no-mobile.btn.btn_fill Проложить маршрут
					a(href='https://maps.yandex.ru/?rtext=~56.944596%2C23.610151', target='_blank').no-mobile.btn.btn_fill Проложить маршрут
					a(href='yandexnavi://build_route_on_map?lat_to=56.944596&lon_to=23.610151').only-mobile.btn.btn_fill Проложить маршрут



block append
