extends layout/template

block vars
	- var pageName = "index";
	- var pageTitle = "Стальной контракт. Главная";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	//-include content/__examples_form

	.main
		.main__bg.only-mobile(style='background-image:url(http://steel.amico.studio/gallery/main.JPG)')
		.main__bg.no-mobile(style='background-image:url(http://steel.amico.studio/gallery/main.JPG)')
		.inner
			.main__title: span.plate Мы продаём трубы большого диаметра

			.main__form
				.main__form-title: span.plate Воспользуйтесь фильтром

				form.form.form-validate(action='', method='post')
					.main__form-filter
						.form__field
							+select('Диаметр', 'dim_1', [{name: '156', value: '156'},{name: '168', value: '168'},{name: '219', value: '219'},{name: '245', value: '245'},{name: '273', value: '273'},{name: '325', value: '325'},{name: '377', value: '377'},{name: '426', value: '426'},{name: '530', value: '530'},{name: '630', value: '630'},{name: '720', value: '720'},{name: '820', value: '820'},{name: '920', value: '920'},{name: '1020', value: '1020'},{name: '1220', value: '1220'},{name: '1420', value: '1420'}])
						.form__field
							+select('Толщина стенки', 'dim_2', [{name: '4', value: '4'},{name: '5', value: '5'},{name: '6', value: '6'},{name: '8', value: '8'},{name: '10', value: '10'}])
						.form__field
							+select('Состояние', 'dim_3', [{name: 'Новая', value: '1'},{name: 'Восстановленная', value: '2'},{name: 'Лежалая', value: '3'},{name: 'Убитая в хлам', value: '4'}])

						.form__field
							.form__input
								button(type='submit').btn.btn_fill Подобрать

					.main__form-outside
						.form__field
							.form__footnote Или перейдите в каталог

						.form__field
							.form__input
								a(href='#').btn Каталог труб



block append
