extends layout/template

block vars
	- var pageName = "map";
	- var pageTitle = "Стальной контракт. Карта сайта";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	//-include content/__examples_form

	.main
		.inner
			p: a(href='/index.html') Главная
			p: a(href='/catalog.html') Каталог
			p: a(href='/catalog-no.html') Пустой каталог
			p: a(href='/about.html') О компании
			p: a(href='/contacts.html') Контакты
			p: a(href='/text.html') Текст
			p: a(href='/norm.html') Нормы загрузки
			p: a(href='/product-item-layout.html', data-popup-page) Продукты продукта
			p: a(href='/product-gallery-layout.html', data-popup-page) Галерея продукта
			p: a(href='/product-order-layout.html', data-popup-page) Заказ продукта
			br
			p: a(href='#', data-popup-open='#orderDone') Спасибо за ваш заказ.
			p: a(href='#', data-popup-open='#orderInCart') Товар добавлен в&nbsp;корзину.
			p: a(href='#', data-popup-open='#orderManager') Наш менеджер свяжется с вами.
			p: a(href='#', data-popup-open='#cartIsClean') Ваша корзина пуста.
			p: a(href='#', data-popup-open='#thxComment') Спасибо за ваше предложение.
			p: a(href='#', data-popup-open='#editComment') Изменить комментарий.
			p: a(href='#', data-popup-open='#quickOrder') Быстрый заказ.

block append
