extends layout/template

block vars
	- var pageName = "about";
	- var pageTitle = "Стальной контракт. О компаниит";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.norms
		.inner
			.norms__content
				.norms__title Нормы закгрузки труб
				.norms__menu
					.btn.active(data-tab-link='train', data-tab-group='norms') ЖД Вагон
					.btn(data-tab-link='track', data-tab-group='norms') Автомобили
					.btn(data-tab-link='weight', data-tab-group='norms') Таблица весов

				.norms__list.active(data-tab-target='train', data-tab-group='norms')
					-for(var i = 0; i < 10; i++)
						.norms__item
							.norms__item-title Диаметр трубы 1420ии - 2 трубы
							.norms__item-image: img(src='../img/train.png')

				.norms__list(data-tab-target='track', data-tab-group='norms')
					-for(var i = 0; i < 10; i++)
						.norms__item
							.norms__item-title Диаметр трубы 1420ии - 2 трубы
							.norms__item-image: img(src='../img/track.png')


				.typo__content(data-tab-target='weight', data-tab-group='norms')
					.typo__text
						.typo__title Мы покупаем трубы
						.typo__text-inner
							.typo__text-content
								.typo__text-item
									p: b ДОРОГО ПОКУПАЕМ ТРУБЫ БУ, СПРОС НА СТАЛЬНЫЕ ТРУБЫ НОВЫЕ, ТРУБЫ ЛЕЖАЛЫЕ, ОСТАТКИ ТРУБНОЙ ПРОДУКЦИИ. ОРГАНИЗУЕМ ДЕМОНТАЖ ТРУБНОГО ЛОМА С САМОВЫВОЗОМ.
							.typo__text-content
								.typo__text-item
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									table
										thead
											tr
												th Заголовок
												th Заголовок
												th Заголовок
										tbody
											tr
												td Текст
												td Текст
												td Текст
											tr
												td Текст
												td Текст
												td Текст
											tr
												td Текст
												td Текст
												td Текст
											tr
												td Текст
												td Текст
												td Текст
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								.typo__text-item
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.

						.typo__title Мы покупаем трубы
						.typo__text-inner
							.typo__text-content
								.typo__text-item
									p: b ДОРОГО ПОКУПАЕМ ТРУБЫ БУ, СПРОС НА СТАЛЬНЫЕ ТРУБЫ НОВЫЕ, ТРУБЫ ЛЕЖАЛЫЕ, ОСТАТКИ ТРУБНОЙ ПРОДУКЦИИ. ОРГАНИЗУЕМ ДЕМОНТАЖ ТРУБНОГО ЛОМА С САМОВЫВОЗОМ.
							.typo__text-content
								.typo__text-item
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								.typo__text-item
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
									p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.




block append
