.popup__title Ваш заказ
.product
	.product__order
		.order
			.order__title Состав заказа

			.order__list
				.order__item
					.order__item-name Труба бу 89х3мм бш лежалая 159х4.5мм пш
					.order__item-image: img(src='../img/pipe.jpg')
					.order__item-edit: a(href='#') Редактировать
					.order__item-remove: a(href='#') Удалить
				.order__item
					.order__item-name Труба бу 89х3мм бш лежалая 159х4.5мм бу 89х3мм бш лежалая 159х4.5мм пш
					.order__item-image: img(src='../img/pipe.jpg')
					.order__item-edit: a(href='#') Редактировать
					.order__item-remove: a(href='#') Удалить

			hr

			.order__title Ваши контакты

			.order__form
				form.form-validate(action='', method='post', autocomplete='off', data-autoupload='http://test.maestros.ru/test.php')
					.form
						.form__field
							.form__input
								input(type='text', name='name', data-require='true')
								.form__placeholder Имя

						.form__clonegroup
							.form__field
								.form__clone
								.form__input
									input(type='text', name='phone[0]', data-require='true', data-mask='+7 999 999-99-99')
									.form__placeholder Телефон

						.form__clonegroup
							.form__field
								.form__clone
								.form__input
									input(type='email', name='email[0]', data-require='email')
									.form__placeholder E-mail



					.order__title Ваши реквизиты
					.form.form_file
						.form__field
							.form__input
								label.btn(for='drugndropFileInput') Прикрепить файл

						.form__field.form__field_drop.no-mobile.drugndrop__box
							.drop-inner
								.drop-text Мы можете прикрепить реквизиты к форме заказа, или просто перетяните файл сюда. Максимальный размер файла 15мб. Нельзя прикрепить более 10 файлов.
								.drop-case

						.form__field.form__field_textarea.no-mobile
							.form__input
								textarea(name='comment', placeholder='Комментарий')

						hr

						.form__field
							.form__input
								button(type='submit').btn.btn_fill Оформить заказ



