.popup__articul Артикул 002155435
.popup__title Труба бу 89х3мм бш
.product
	.product__item
		.product__info
			.product__info-inner
				.product__info-price
					.product__info-price-item
						.product__info-price-title ЦЕНА ЗА ТОННУ
						.product__info-price-value 125 000 руб.
					.product__info-price-item
						.product__info-price-title ЦЕНА ЗА МЕТР ПОГОННЫЙ
						.product__info-price-value 22 000 руб.
				.product__info-table
					.product__info-table-item
						.product__info-table-key Состояние
						.product__info-table-value Восст.
					.product__info-table-item
						.product__info-table-key Диаметр
						.product__info-table-value #[i.ico-diameter] 182мм
					.product__info-table-item
						.product__info-table-key Толщина стенки
						.product__info-table-value #[i.ico-thinkness] 4,5мм
					.product__info-table-item
						.product__info-table-key Первоночаль- ное исп.
						.product__info-table-value #[i.ico-thinkness] 4,5мм
					.product__info-table-item
						.product__info-table-key Шов
						.product__info-table-value п/ш
					.product__info-table-item
						.product__info-table-key Вес 1 м.п./кг
						.product__info-table-value 26/25
					.product__info-table-item.only-mobile
						.product__info-table-key Цена за тонну
						.product__info-table-value 125 000
					.product__info-table-item.only-mobile
						.product__info-table-key Цена за метр
						.product__info-table-value 25 000

				.product__info-comment
					.product__info-comment-title Комментарий к заказу
					.product__info-comment-field
						form__field
							.form__input
								textarea
								.form__placeholder.only-mobile Комментарий
								.form__placeholder.more-mobile Укажите здесь желаемое кол-во трубы, как её нарезать.
				.product__info-btn
					.btn.btn_fill В корзину
					.btn Купить в 1 клик

		.product__about
			.product__about-title.more-mobile Фотогалерея #[span 6]
			.product__gallery
				.product__gallery-main.no-mobile
					span.product__gallery-main-img
						img(src='../img/pipe.jpg')
						//-a(href='../img/pipe.jpg', target='_blank').product__gallery-main-open
				.product__gallery-preview
					.product__gallery-thambnail(data-src='../img/pipe.jpg').is-active: img(src='../img/pipe.jpg')
					.product__gallery-thambnail(data-src='../img/pipe.jpg'): img(src='../img/pipe.jpg')
					.product__gallery-thambnail(data-src='../img/pipe.jpg'): img(src='../img/pipe.jpg')
					.product__gallery-thambnail(data-src='../img/pipe.jpg'): img(src='../img/pipe.jpg')
					.product__gallery-thambnail(data-src='../img/pipe.jpg'): img(src='../img/pipe.jpg')
					.product__gallery-thambnail(data-src='../img/pipe.jpg'): img(src='../img/pipe.jpg')
					.product__gallery-thambnail(data-src='../img/pipe.jpg'): img(src='../img/pipe.jpg')
					a(href='/product-gallery-layout.html', data-popup-page).product__gallery-thambnail.product__gallery-thambnail_more 1 фото

				.product__about-title Область приминения #[span 5]

				.product__accordion
					.product__accordion-head
						.product__accordion-img: img(src='../img/pipe.jpg')
						.product__accordion-title Пантонные переправы
					.product__accordion-body
						.product__accordion-inner
							.product__accordion-text Мост, имеющий плавучие опоры-понтоны. Разновидностью понтонного моста является наплавной мост, который не имеет обособленных понтонов — плавучими являются сами пролётные сооружения. Основное применение понтонных мостов — организация временных переправ через водные преграды при аварии или во время ремонта постоянных мостов, в военном деле, при ликвидации последствий стихийных бедствий и других. Однако встречаются и постоянно функционирующие понтонные и наплавные мосты
							.product__accordion-gallery
								.product__accordion-slide: img(src='../img/pipe.jpg')
								.product__accordion-slide: img(src='../img/pipe.jpg')
								.product__accordion-slide: img(src='../img/pipe.jpg')
								.product__accordion-slide: img(src='../img/pipe.jpg')

				.product__accordion
					.product__accordion-head
						.product__accordion-img: img(src='../img/pipe.jpg')
						.product__accordion-title Временные мосты
					.product__accordion-body
						.product__accordion-inner
							.product__accordion-text Мост, имеющий плавучие опоры-понтоны. Разновидностью понтонного моста является наплавной мост, который не имеет обособленных понтонов — плавучими являются сами пролётные сооружения. Основное применение понтонных мостов — организация временных переправ через водные преграды при аварии или во время ремонта постоянных мостов, в военном деле, при ликвидации последствий стихийных бедствий и других. Однако встречаются и постоянно функционирующие понтонные и наплавные мосты

				.product__accordion
					.product__accordion-head
						.product__accordion-img: img(src='../img/pipe.jpg')
						.product__accordion-title Временные мосты
					.product__accordion-body
						.product__accordion-inner
							.product__accordion-text Мост, имеющий плавучие опоры-понтоны. Разновидностью понтонного моста является наплавной мост, который не имеет обособленных понтонов — плавучими являются сами пролётные сооружения. Основное применение понтонных мостов — организация временных переправ через водные преграды при аварии или во время ремонта постоянных мостов, в военном деле, при ликвидации последствий стихийных бедствий и других. Однако встречаются и постоянно функционирующие понтонные и наплавные мосты


				.product__about-title Описание товара
				.product__about-text
					p Труба б/у 159x7 круглого сечения – изделие из стали, относящееся по типу к электросварным прямошовным трубам. Такие трубы имеют продольный шов, расположенный параллельно оси, и производятся при помощи прессовой формовки с контактной сваркой высокочастотными токами. До сдачи в повторную эксплуатацию данные трубы использовались в газовой промышленности.
					p Стальная труба 159x7 б/у находит широкое применение в системах снабжения и перегонки веществ с самым различным назначением: нефтепроводных, газопроводных, водопроводных и др. Большим спросом такие трубы также пользуются в промышленном производстве и строительстве. Труба 159x7 б/у по цене, выгодной покупателю, - это один из самых востребованных типов труб.

				.product__about-title.more-mobile Наши контакты

				.product__about-map#map


				script.
					ymaps.ready(function () {
						var map = new ymaps.Map('map', {
								center: [59.799577, 30.402557],
								zoom: 17,
								controls: []
							}),
							myPlacemark = new ymaps.Placemark([59.799577, 30.402557],
								{},
								{
									iconLayout: 'default#image',
									iconImageHref: '../img/marker.png',
									iconImageSize: [56, 84],
									iconImageOffset: [-28, -84]
								});
						map.geoObjects.add(myPlacemark);

						map.behaviors.disable('scrollZoom');
						map.behaviors.disable('multiTouch');
						// map.behaviors.disable('drag');
						;
					});

				.product__about-btn.only-mobile
					a(href='#').btn.btn_fill Наши контакты

				.product__about-title Свяжитесь с нами
				.product__about-form
					form.form.form-validate(action='', method='post')
						.form__wrap
							.form__field.form__field_halfd
								.form__input
									input(type='text', name='name', data-require='true')
									.form__placeholder Ваше имя

							.form__field.form__field_halfd
								.form__input
									input(type='text', name='phone', data-require='true', data-mask='+7 999 999-99-99')
									.form__placeholder Телефон

							.form__field
								.form__input
									textarea(type='text', name='comment', data-require='comment')
									.form__placeholder Комментарий

							.form__field
								.form__input
									label
										input(type='checkbox', name='remember', data-require='true')
										.form__label Я согласен на обработку #[a(href='#') персональных данных]


							.form__field.form__field_submit
								.form__input
									button(type='submit').btn.btn_fill Добавить в корзину
