.popup__title Ваш заказ
.product
	.product__preview
		.product__preview-main
			.product__preview-image
				span.product__preview-img
					img(src='../img/pipe.jpg')
					a(href='../img/pipe.jpg', target='_blank').product__preview-open
			.product__preview-text
				p Это круглая труба, она такая круглая, на этой фотографии изображенно, как труба лежит. Лежит красиво. Боком, хоть она и круглая.
		.product__preview-aside
			.product__preview-thumbnail
				.product__preview-carousel
					.product__preview-item.is-active(data-src='../img/pipe.jpg?img_1'): img(src='../img/pipe.jpg')
					.product__preview-item(data-src='../img/pipe.jpg?img_2'): img(src='../img/pipe.jpg')
					.product__preview-item(data-src='../img/pipe.jpg?img_3'): img(src='../img/pipe.jpg')
					.product__preview-item(data-src='../img/pipe.jpg?img_4'): img(src='../img/pipe.jpg')
					.product__preview-item(data-src='../img/pipe.jpg?img_5'): img(src='../img/pipe.jpg')
					.product__preview-item(data-src='../img/pipe.jpg?img_6'): img(src='../img/pipe.jpg')
					.product__preview-item(data-src='../img/pipe.jpg?img_7'): img(src='../img/pipe.jpg')
					.product__preview-item(data-src='../img/pipe.jpg?img_8'): img(src='../img/pipe.jpg')
					.product__preview-item(data-src='../img/pipe.jpg?img_9'): img(src='../img/pipe.jpg')
					.product__preview-item(data-src='../img/pipe.jpg?img_10'): img(src='../img/pipe.jpg')
			.product__preview-btn: a(href='/product-item-layout.html', data-popup-page).btn.btn_light Перейти в товар


