extends layout/template

block vars
	- var pageName = "about";
	- var pageTitle = "Стальной контракт. О компаниит";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	.typo
		.inner
			.typo__content
				.typo__text
					.typo__title Мы покупаем трубы
					.typo__text-inner
						.typo__text-content
							.typo__text-item
								p: b ДОРОГО ПОКУПАЕМ ТРУБЫ БУ, СПРОС НА СТАЛЬНЫЕ ТРУБЫ НОВЫЕ, ТРУБЫ ЛЕЖАЛЫЕ, ОСТАТКИ ТРУБНОЙ ПРОДУКЦИИ. ОРГАНИЗУЕМ ДЕМОНТАЖ ТРУБНОГО ЛОМА С САМОВЫВОЗОМ.
						.typo__text-content
							.typo__text-item
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
							.typo__text-item
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.

					.typo__title Мы покупаем трубы
					.typo__text-inner
						.typo__text-content
							.typo__text-item
								p: b ДОРОГО ПОКУПАЕМ ТРУБЫ БУ, СПРОС НА СТАЛЬНЫЕ ТРУБЫ НОВЫЕ, ТРУБЫ ЛЕЖАЛЫЕ, ОСТАТКИ ТРУБНОЙ ПРОДУКЦИИ. ОРГАНИЗУЕМ ДЕМОНТАЖ ТРУБНОГО ЛОМА С САМОВЫВОЗОМ.
						.typo__text-content
							.typo__text-item
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
							.typo__text-item
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.
								p Компания «СТАЛЬНОЙ КОНТРАКТ» приглашает к сотрудничеству компании, организации и частных лиц, - осуществляющих на своих объектах демонтаж стальной трубы бу следующих диаметров: 159, 168, 219, 245, 273, 325, 377, 426, 530, 630, 720, 820, 920, 1020, 1220, 1420мм. На постоянной основе выкупаем большие объемы трубного лома с мест демонтажа различных инфраструктурных объектов энергетики.




block append
