
@import "scss/mixins";
@import "scss/normalize";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.wrapper{
	overflow: hidden;
}

.form{
	max-width: 400px;
	margin: 0 auto;
	padding: 50px 0;


	&-image{


		&-img{
			border: 1px solid #cecece;
			padding: 5px;
			text-align: center;
			position: relative;

			img{
				max-height: 200px;
			}

			.btn{
				position: absolute;
				top: 10px;
				right: 10px;
			}
		}
		&-img,
		&-name{

			& ~ label{
				display: none;
			}
		}

		margin-bottom: 30px;
	}
}


img{
	max-width: 100%;
}