
@import "scss/var";

@import "scss/mixins";

@import "scss/fonts";

@import "scss/print";

@import "scss/normalize";

@import "../../node_modules/slick-carousel/slick/slick.scss";

@import "modules/drugndrop";

$scrollbarWidth: 5px;
$scrollbarLineColor: none;
$scrollbarLineWidth: 5px;
$scrollbarDragColor: $colorBlue;
$scrollbarDragWidth: 5px;
$scrollbarMargin: 5px;
$scrollbarBorderRadius: 0;
@import "modules/scrollbar";

@import "modules/OverlayScrollbars";




[data-hint]{
	position: relative;

	&:before{
		content: attr(data-hint);
		position: absolute;
		background: $colorBlue;
		color: #fff;
		font-size: 10px;
		text-align: center;
		width: 125px;
		box-sizing: border-box;
		padding: 5px 5px 7px;
		bottom: calc(100% + 10px);
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		border: 5px solid transparent;
		border-top-color: $colorBlue;
		left: 50%;
		margin-left: -5px;
		bottom: 100%;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease;
	}

	&:hover{
		&:before,
		&:after{
			opacity: 1;

		}
	}
}


$formInputPadding: 0;

$formFontSize: 14px;
$formLineHeight: 1.2;

$formFieldHeight: 42px;
$formBorderRadius: 0;
$formCheckboxWidth: 20px;
$formGutter: $gutter;

$formColorText: $colorBlack;
$formColorFootnote: $colorText;
$formColorBorder: $colorBorder;
$formColorError: $colorRed;
$formColorSuccess: $colorGreen;
$formColorFocus: $colorBlue;
@import "scss/form";

@import "scss/global";

@import "scss/main";

@import "scss/popup";