include mixin

block vars
doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle

		block head
	body
		.container
			block content
		block append
