footer.footer
	.inner
		.footer__logo
			.footer__logo-ico: img(src='../img/svg/logo_black.svg', alt='СТАЛЬНОЙ КОНТРАКТ')
			.footer__logo-text СТАЛЬНОЙ КОНТРАКТ
		.footer__copy
			.footer__copy-text Стальной контракт 2012 - 2018 © Все права защищены #[span (18+)]
			.footer__copy-links
				a(href='#') Политика конфидециальности
				a(href='#') Условия использования ресурса
		.footer__nav
			ul
				li: a(href='#') Каталог труб
				li: a(href='#') О компании
				li: a(href='#') Мы покупаем трубы
				li: a(href='#') Производство
			ul
				li: a(href='#') Хранение
				li: a(href='#') Демонтаж
				li: a(href='#') Демонтаж
				li: a(href='#') Контакты

		.footer__contact
			.footer__contact-address 196626 г.Санкт-Петебург, поселок #[br]Шушары, Московское шоссе, #[br]д.201, лит. «А»
			.footer__contact-phone +7 912 475 45 45 | +7 912 475 45 45
			.footer__contact-email #[a(href='#') truba@truba.com] | #[a(href='#') truba@truba.com]
