header.header
	.inner
		if (filter)
			.header__filter
		.header__logo
			.header__logo-ico: img(src='../img/svg/logo.svg')
			.header__logo-text СТАЛЬНОЙ#[br]КОНТРАКТ
		a.header__call(href='tel:88008008080')
		.header__handler
			.header__handler-ico: i
			.header__handler-text МЕНЮ
		.header__contact
			.header__contact-phone 8 800 555-55-55
			.header__contact-text пн-пт с 10:00-12:00
			.header__contact-text сб-вс выходной
		.header__cart
			.header__cart-ico
				img(src='../img/svg/cart.svg')
			.header__cart-count 0
			.header__cart-text В корзине пусто

.nav.scrollbar
	.inner
		.nav__menu
			.nav__menu-list
				a(href='#').nav__menu-item.is-active
					.nav__menu-ico: include ../../img/ico/catalog.svg
					.nav__menu-text Каталог труб
				a(href='#', data-popup-open='.popup_calculator').nav__menu-item
					.nav__menu-ico: include ../../img/ico/calculator.svg
					.nav__menu-text Калькулятор труб
				a(href='#').nav__menu-item
					.nav__menu-ico: include ../../img/ico/basket.svg
					.nav__menu-text Корзина
				a(href='#').nav__menu-item
					.nav__menu-ico: include ../../img/ico/norms.svg
					.nav__menu-text Нормы загрузки труб
				a(href='#').nav__menu-item
					.nav__menu-ico: include ../../img/ico/about.svg
					.nav__menu-text О компании
				a(href='#').nav__menu-item.no-desktop
					.nav__menu-ico: include ../../img/ico/contacts.svg
					.nav__menu-text Контакты

			hr.no-desktop
			.nav__menu-contact

				.nav__menu-title.no-mobile
					.nav__menu-ico: include ../../img/ico/contacts.svg
					.nav__menu-text Контакты

				a(href='tel:89119621155').nav__menu-item
					.nav__menu-ico: include ../../img/ico/phone.svg
					.nav__menu-text 8 (911) 962-11-55
					.nav__menu-note Телефон президента

				a(href='tel:89119621155').nav__menu-item
					.nav__menu-ico: include ../../img/ico/phone.svg
					.nav__menu-text 8 (911) 962-11-55
					.nav__menu-note Телефон президента

				a(href='tel:89119621155').nav__menu-item
					.nav__menu-ico: include ../../img/ico/phone.svg
					.nav__menu-text 8 (911) 962-11-55
					.nav__menu-note Телефон президента

				br.no-mobile
				a(href='mailto:info@scontact.com').nav__menu-item
					.nav__menu-ico: include ../../img/ico/contacts.svg
					.nav__menu-text info@scontact.com
					.nav__menu-note Информационная служба

				a(href='mailto:admin@scontact.com').nav__menu-item
					.nav__menu-ico: include ../../img/ico/contacts.svg
					.nav__menu-text admin@scontact.com
					.nav__menu-note Информационная служба

				.nav__menu-subtitle.no-mobile Время работы:

				a(href='mailto:info@scontact.com').nav__menu-item.no-mobile
					.nav__menu-ico: include ../../img/ico/watch.svg
					.nav__menu-text Пн-Пт: с 9:00 - 18:00

				a(href='mailto:admin@scontact.com').nav__menu-item.no-mobile
					.nav__menu-text Сб-Вс: Выходной

				.nav__menu-text.no-desktop
					p Адрес:
					p Адрес склада: 196626 г.Санкт-Петербург, поселок Шушары, Московское шоссе, д.201, лит. «А»

				.nav__menu-btn.no-desktop
					a(href='yandexnavi://build_route_on_map?lat_to=23.610151&lon_to=56.944596').btn.btn_fill Проложить маршрут



