mixin select(placeholder, name, values, required)
	.form__select
		.form__select-value
		.form__select-dropdown
			.form__select-scrollbar.scrollbar
				.form__select-list
					each item in values
						.form__select-item
							label
								input(type='radio', name= name, value= item.value, data-require =required)
								.form__select-option= item.name
		if ( placeholder )
			.form__placeholder= placeholder


mixin product(imgs)
	- var max = imgs > 3 ? 3 : imgs;
	.catalog__item
		.catalog__item-inner
			a(href='/product-gallery-layout.html', data-popup-page).catalog__item-image
				- for(var i = 0; i < max; i++)
					img(src='../img/pipe.jpg', alt='')
				if ( imgs > 1)
					.catalog__item-image-more.only-desktop= imgs - 1
				if ( imgs - max > 3)
					.catalog__item-image-more.more-desktop= imgs - 3

			.catalog__item-name Труба бу 89х3мм бш лежалая 159х4.5мм пш

			.catalog__item-id
				.in-title ID
				.in-value 1

			.catalog__item-state
				.in-title Состояние
				.in-value Восстановленная

			.catalog__item-dim
				.catalog__item-dim-inner
					.catalog__item-dim-diameter
						.in-title Диаметр
						.in-value 182
					.catalog__item-dim-thinkness
						.in-title Толщина
						.in-value 4,5 мм

			.catalog__item-price
				.catalog__item-price-inner
					.catalog__item-price-weight
						.in-title Цена в TH.
						.in-value 25 000 руб.
					.catalog__item-price-length
						.in-title Цена в М.П.
						.in-value 5 000 руб.

			.catalog__item-link: a(href='/product-item-layout.html', data-popup-page).btn Подробнее