.popup.popup_info#orderDone
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Спасибо за ваш заказ.
				.popup__text: p Мы позвоним Вам как только так сразу или как заказ будет обработан. Никогда.
				.popup__order
					.popup__order-image: img(src='../img/pipe.jpg')
					.popup__order-text Номер вашего заказа:
					.popup__order-art
						.popup__order-art-num 45B435
						.popup__order-art-copy(data-hint='Скопировать в буфер', data-clipboard='45B435') Копировать

				.popup__btn
					.btn.btn_light(data-popup-close='.popup') Закрыть

.popup.popup_info#orderInCart
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Спасибо. #[br]Товар добавлен в&nbsp;корзину
				.popup__btn
					a.btn.btn_fill(href='#') Перейти в корзину
					br
					a.btn.btn_light(href='#') Вернуться в каталог

.popup.popup_message
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content

.popup.popup_info#orderManager
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Спасибо за ваш заказ.
				.popup__text
					p Наш менеджер свяжется с вами завтра#[br]до 11:00 по Москве
				.popup__btn
					.btn.btn_light(data-popup-close='.popup') Хорошо


.popup.popup_info#cartIsClean
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Ваша корзина пуста.
				.popup__btn
					a.btn.btn_fill(href='#') Перейти в корзину


.popup.popup_info#thxComment
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title.popup__title_noborder Спасибо за ваше предложение
				form(action='', method='post', autocomplete='off', novalidate)
					.popup__form
						.form
							.form__field.form__field_textarea
								.form__input
									textarea(name='comment', placeholder='Комментарий')
					.popup__text Наш менеджер ознакомится с Вашей #[br]заявкой и Вам перезвонит.
					.popup__btn.popup__btn_noborder
						.btn.btn_light(data-popup-close='.popup') Хорошо

.popup.popup_info#editComment
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Изменить комментарий
				.popup__text «Труба вялая лежалая ржавая и убитая, привезите мне ее побыстрее - хочу домой»

				form.form-validate(action='', method='post', autocomplete='off', novalidate)
					.popup__form
						.form
							.form__field.form__field_textarea
								.form__input
									textarea(name='comment', placeholder='Новый комментарий')
					.popup__btn.popup__btn_noborder
						button.btn.btn_fill(type='submit') Сохранить


.popup.popup_info#quickOrder
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Быстрый заказ
				.popup__order
					.popup__order-table
						.popup__order-col.popup__order-col_name Труба вялая лежалая 1400мм/6мм Восстановленная
						.popup__order-col.popup__order-col_dim ЦЕНА В TH. #[br] ЦЕНА В М.П.
						.popup__order-col.popup__order-col_price 25 000 руб.#[br]22 500 руб.

				form.form-validate(action='', method='post', autocomplete='off', novalidate)
					.popup__form
						.form
							.form__field.form__field_textarea
								.form__input
									textarea(name='comment', placeholder='Новый комментарий')

							.form__field
								.form__input
									input(type='text', name='name', data-require='true')
									.form__placeholder Имя

							.form__field
								.form__input
									input(type='email', name='email', data-require='email')
									.form__placeholder E-mail

					.popup__btn.popup__btn_noborder
						button.btn.btn_fill(type='submit') Сохранить


.popup.popup_calculator
	//-.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Быстрый заказ
				.popup__text Введите значения и нажмите кнопку «Расчитать»
				form.form-validate.js-calculate(autocomplete='off', novalidate)
					.popup__form
						.form
							.form__field
								.form__input
									input(type='text', name='calcD', data-require='true', data-mask='9{2,3}')
									.form__placeholder Диаметр трубы D, мм
									.form__ico
										span мм
										img(src='../img/svg/diameter.svg')

							.form__field
								.form__input
									input(type='text', name='calcS', data-require='true', data-mask='9{2,3}')
									.form__placeholder Толщина стенки S, мм
									.form__ico
										span мм
										img(src='../img/svg/thickness.svg')

							.form__field
								.form__input
									input(type='text', name='calcL', data-require='true', data-mask='9{2,3}')
									.form__placeholder Длина трубы L, м
									.form__ico
										span м
										img(src='../img/svg/long.svg')

							.form__field
								.form__title Материал
								+select('Выберите материал', 'calcM', [{value: '7850', name: 'Углеродистая сталь'},{value: '7900', name: '04X18H10'},{value: '7960', name: '06XH28MДT'},{value: '7700', name: '08X13'},{value: '7700', name: '08X17T'},{value: '7700', name: '08X20H14C2'},{value: '7900', name: '08X18H10'},{value: '7900', name: '08X18H10T'},{value: '7950', name: '08X18H12T'},{value: '8100', name: '08X17H15M3T'},{value: '7600', name: '08X22H6T'},{value: '7900', name: '08X18H12Б'},{value: '8000', name: '10X17H13M2T'},{value: '7950', name: '10X23H18'},{value: '7700', name: '12X13'},{value: '7700', name: '12X17'},{value: '7950', name: '12X18H10T'},{value: '7900', name: '12X18H12T'},{value: '7900', name: '12X18H9'},{value: '7600', name: '15X25T'},{value: '7900', name: '17X18H9'},{value: '2850', name: 'дюралюминий'},{value: '4540', name: 'титан'},{value: '8960', name: 'медь'},{value: '8600', name: 'латунь'},{value: '11340', name: 'свинец'},{value: '19300', name: 'золото'}], 'true')
							.form__field
								.form__text.js-calc-result
					.popup__btn
						button.btn(type='submit') Расчитать




.popup.popup_product
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				//-include ../product-order-layout

//-include ../content/preview
