/*

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/opensans/open-sans-regular.eot'); !* IE9 Compat Modes *!
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
	url('../../fonts/opensans/open-sans-regular.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!
	url('../../fonts/opensans/open-sans-regular.woff2') format('woff2'), !* Super Modern Browsers *!
	url('../../fonts/opensans/open-sans-regular.woff') format('woff'), !* Modern Browsers *!
	url('../../fonts/opensans/open-sans-regular.ttf') format('truetype'), !* Safari, Android, iOS *!
	url('../../fonts/opensans/open-sans-regular.svg#OpenSans') format('svg'); !* Legacy iOS *!
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url('../../fonts/opensans/open-sans-600.eot'); !* IE9 Compat Modes *!
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
	url('../../fonts/opensans/open-sans-600.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!
	url('../../fonts/opensans/open-sans-600.woff2') format('woff2'), !* Super Modern Browsers *!
	url('../../fonts/opensans/open-sans-600.woff') format('woff'), !* Modern Browsers *!
	url('../../fonts/opensans/open-sans-600.ttf') format('truetype'), !* Safari, Android, iOS *!
	url('../../fonts/opensans/open-sans-600.svg#OpenSans') format('svg'); !* Legacy iOS *!
}*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');