
$formInputPadding: 15px !default;

$formFontSize: 14px !default;
$formLineHeight: 1.2 !default;

$formFieldHeight: 40px !default;
$formBorderRadius: 5px !default;
$formCheckboxWidth: 20px !default;
$formGutter: 30px !default;

$formColorText: black !default;
$formColorFootnote: black !default;
$formColorBorder: grey !default;
$formColorError: red !default;
$formColorSuccess: green !default;
$formColorFocus: blue !default;


.form{
	font-size: 0;

	@include breakPoint($breakPoint){
		margin: 0 (-$formGutter / 2);
	}

	.btn{
		width: 100%;
	}


	&__title{

	}

	&__text{

	}

	&__clonegroup{
		margin-bottom: 10px;

		@include breakPoint($breakPoint){
			margin-bottom: 25px;
		}

		&:last-child{
			margin-bottom: 0;
		}

		.form__field{
			&:last-child{
				.form__clone {
					transform: rotate(0deg);
				}
			}
			&:nth-of-type(5){
				.form__clone {
					transform: rotate(45deg);
				}
			}
		}
	}

	&__clone{
		position: absolute;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		background: #fff;
		box-shadow: 0 0 6px rgba(0,0,0,0.1);
		top: 0;
		right: -75px;
		cursor: pointer;
		transform: rotate(45deg);
		transition: all 0.3s ease;

		&:before,
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background: $colorBlue;
			width: 2px;
			height: 2px;
		}

		&:before{
			width: 12px;
		}

		&:after{
			height: 12px;
		}
	}

	&__field{
		position: relative;
		font-size: $formFontSize;
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		vertical-align: top;
		margin-bottom: 10px;

		@include breakPoint($breakPoint){
			padding: 0 ($formGutter / 2);
			margin-bottom: 25px;
		}

		&_4{
			@include breakPoint($breakPoint){
				width: 25%;
			}
		}

		@include breakPoint($breakPoint){

		}

		&_submit{

			@include breakPoint($breakPoint){
			}

		}

		&:last-child{
			margin-bottom: 0;
		}

		&.f-error{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $formColorError!important;
				}
			}
		}

		&.f-success{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $formColorSuccess!important;

					@include breakPoint($breakPoint){

					}
				}
			}
		}


		&_drop{
			.drop{

				&-inner{
					padding: 21px 66px;
					border: 1px solid $colorBlue;
					border-radius: 5px;
					position: relative;
					font-size: 0;

					&:before{
						content: '';
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}

					&:after{
						content: '';
						pointer-events: none;
						position: absolute;
						top: 5px;
						left: 5px;
						right: 5px;
						bottom: 5px;
						border-radius: 5px;
						border: 2px dashed $colorText;
					}
				}


				&-text{
					font-size: 10px;
					display: inline-block;
					vertical-align: middle;
					color: $colorBlue;
					line-height: 1.5;
					text-align: center;
					margin: 15px 0;
				}

			}
		}

	}

	&__message{
		position: relative;
		font-size: 10px;

		@include breakPoint($breakPoint){
			font-size: 12px;
		}

		&:empty{
			display: none;
		}

		.f-error &{
			color: $formColorError;
		}

		.f-success &{
			color: $formColorSuccess;
		}
	}

	&__label{
		position: relative;
	}

	&__input{
		position: relative;
		display: block;

		textarea,
		input[type="email"],
		input[type="password"],
		input[type="tel"],
		input[type="text"]{
			box-sizing: border-box;
			width: 100%;
			display: block;
			color: $colorBlack;
			line-height: ($formFieldHeight - 2px);
			height: $formFieldHeight;
			border-bottom: 1px solid $formColorBorder;
			border-radius: $formBorderRadius;
			background-color: #fff;
			transition: border 0.3s ease;
			padding: 0 $formInputPadding;

			@include breakPoint($breakPoint){

			}

			&:focus{
				border-color: $formColorFocus;
				border-width: 2px;
				color: $colorBlue;
			}

			.f-error &{
				border-width: 2px;
				border-color: $formColorError;
			}


			.f-success &{
				border-width: 2px;
				border-color: $formColorSuccess;
			}

			&:hover{
				border-width: 2px;
				border-color: $formColorFocus;
			}
		}


		input[type="submit"]{

		}

		input[type="checkbox"]{
			opacity: 0;
			position: absolute;

			&:checked{
				& ~ {
					.form__label{

						&:before{
							//border-color: $formColorFocus;
							//background-color: $formColorFocus;
							background-size: 100% 100%;

							@include breakPoint($breakPoint){

							}
						}

						&:after{
							opacity: 1;
						}
					}
				}
			}

			& ~ {
				.form__label{
					padding: (($formCheckboxWidth - ($formFontSize * $formLineHeight)) / 2 ) 0 (($formCheckboxWidth - ($formFontSize * $formLineHeight)) / 2 ) 35px;

					color: $colorText;

					a{
						color: $colorBlue;
					}

					@include breakPoint($breakPoint){

					}

					&:before{
						content: '';
						width: $formCheckboxWidth;
						box-sizing: border-box;
						height: $formCheckboxWidth;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						border-radius: $formBorderRadius;
						background: #fff url("../../img/svg/checkbox.svg") no-repeat 50% 50%;
						background-size: 0 0;
						border: 2px solid $colorBlue;
						transition: all 0.2s ease;

						@include breakPoint($breakPoint){

						}

						.f-error &{
							border-color: $formColorError;
						}

						.f-success &{
							border-color: $formColorSuccess;
						}
					}
				}
			}
		}

		input[type="radio"]{
			opacity: 0;
			position: absolute;

			&:checked{
				& ~ {
					.form__label{

						&:before{
							border-color: $formColorFocus;
							background-color: $formColorFocus;

							@include breakPoint($breakPoint){

							}
						}
					}
				}
			}


			& ~ {
				.form__label{
					padding: (($formCheckboxWidth - ($formFontSize * $formLineHeight)) / 2 ) 0 (($formCheckboxWidth - ($formFontSize * $formLineHeight)) / 2 ) $formCheckboxWidth + $formInputPadding;

					@include breakPoint($breakPoint){

					}

					&:before{
						content: '';
						box-sizing: border-box;
						width: $formCheckboxWidth;
						height: $formCheckboxWidth;
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						border-radius: 50%;
						background: #fff;
						border: 1px solid $formColorBorder;
						transition: all 0.2s ease;

						@include breakPoint($breakPoint){

						}

						.f-error &{
							border-color: $formColorError;
						}

						.f-success &{
							border-color: $formColorSuccess;
						}
					}
				}
			}
		}


		textarea{
			resize: none;
			//height: 150px;
			line-height: 1.2;

			padding: (($formFieldHeight - ($formFontSize * $formLineHeight)) / 2) $formInputPadding;

			@include breakPoint($breakPoint){
			}
		}

		&-clear{
			position: absolute;
			width: 22px;
			height: 22px;
			top: 50%;
			right: 20px;
			margin-top: -11px;
			cursor: pointer;
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s ease;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background: #fff;
				height: 2px;
				width: 26px;
				margin-top: -1px;
				margin-left: -13px;

			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}

			&:hover{
				&:before,
				&:after {

				}
			}

			.f-filled &{
				opacity: 1;
				pointer-events: all;
			}
		}

	}

	&__select{

		position: relative;
		display: block;

		&-value{
			box-sizing: border-box;
			width: 100%;
			display: block;
			color: $colorBlack;
			line-height: ($formFieldHeight - 2px);
			height: $formFieldHeight;
			border-bottom: 1px solid $formColorBorder;
			border-radius: $formBorderRadius;
			background-color: #fff;
			transition: border 0.3s ease;
			padding: 0 $formInputPadding;


			&:after{
				content: '';
				width: 12px;
				height: 8px;
				position: absolute;
				background: url("../../img/svg/arrow-down.svg");
				margin-top: -4px;
				top: 21px;
				right: 10px;
				transform: rotate(0deg);
				transition: all 0.3s ease;

				.f-select &{
					transform: rotate(180deg);
				}
			}

			.f-error &{
				border-width: 2px;
				border-color: $formColorError;
			}

			.f-success &{
				border-width: 2px;
				border-color: $formColorSuccess;
			}

			.f-disable &{
				border-width: 2px;
				border-bottom: 1px solid $formColorBorder!important;
				opacity: 0.5;
			}

			&:hover{
				border-width: 2px;
				border-color: $formColorFocus;
			}
		}

		&-dropdown{
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			z-index: 2;
			background: #fff;
			border-bottom: 1px solid $formColorBorder;
			opacity: 0;
			pointer-events: none;
			transition: all 0.3s ease;

			.f-select &{
				opacity: 1;
				pointer-events: all;
			}
		}

		&-scrollbar{
			max-height: 200px;
			overflow: auto;
		}

		&-item{
			position: relative;
			color: #000;

			input{
				opacity: 0;
				position: absolute;
				pointer-events: none;

				&:checked{
					& ~ .form__select-option{
						color: #fff;
						background: $colorBlue;
					}
				}

				&:disabled{
					& ~ .form__select-option{
						color: #fff;
						background-color: rgba($colorGrey, 0.3)!important;
						cursor: default;
					}
				}
			}


			&:hover{
				.form__select-option{
					color: #fff;
					background: $colorBlue;
				}
			}
		}

		&-option{
			display: block;
			position: relative;
			padding: 5px 10px;
		}
	}

	&__footnote{
		color: $formColorFootnote;
	}

	&__placeholder{
		position: absolute;
		color: $colorText;
		top: 0;
		right: 100%;
		left: 0;
		text-align: right;
		line-height: $formFieldHeight;
		cursor: default;
		pointer-events: none;

		white-space: nowrap;
		box-sizing: border-box;
		transition: all 0.3s ease;
		padding: 0 $formInputPadding;
		font-size: 12px;

		@include breakPoint($breakPoint){
			font-size: 14px;
		}

		.f-error &{
			color: $formColorError;
		}

		.f-success &{
			color: $formColorSuccess;
		}


		.f-disable &{
			opacity: 0.5;
		}

		input:focus ~ &,
		textarea:focus ~ &,

		.f-filled &{
			//right: 0;
			opacity: 0;

			@include breakPoint($breakPoint){

			}
		}
	}
}