

html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-size: 12px;
	width: 100%;
	height: 100%;
	line-height: 1.2;
	color: $colorBlack;
	min-width: 320px;

	@include breakPoint($breakPoint){
		font-size: 14px;

		&.is-popup{
			overflow: hidden;
		}
	}

	&.show-menu{
		overflow: hidden;
	}
}

.wrapper{
	overflow: hidden;

	display: flex;
	min-height: 100vh;
	flex-direction: column;

	@include breakPoint(0, $breakPoint){

		.is-popup-calc &,
		.is-popup &{
			min-height: 0;
			display: block;
		}
	}
}



.btn{

	cursor: pointer;
	font-size: 14px;
	border: 2px solid $colorBlue;
	text-align: center;
	padding: 0 10px;
	height: 42px;
	line-height: 38px;
	box-sizing: border-box;
	color: $colorBlue;
	font-weight: 600;
	display: inline-block;
	background: #fff;

	&_fill{
		background: $colorBlue;
		color: #fff;
	}

	&_light{
		background: #E7ECF3;
		color: $colorBlue;
		border-color: #E7ECF3;
	}

	&_clear{
		text-align: left;
		padding: 0 10px 0 25px;
		background: url("../../img/svg/close.svg") no-repeat 0 50%;
		background-size: 15px 15px;
		border-color: transparent;
	}
}


.website {
	padding-top: 60px;
	flex: 1;
	display: flex;
	flex-direction: column;

	@include breakPoint(0, $breakPoint){

		.is-popup-calc &,
		.is-popup &{
			display: none!important;
		}
	}

	@include breakPoint($breakPoint){
		padding-top: 90px;
	}


}




.only{
	&-mobile{
		@include breakPoint($breakPoint){
			display: none!important;
		}
	}
	&-desktop{
		@include breakPoint(0, $breakPoint){
			display: none!important;
		}
		@include breakPoint($breakPointFullHD){
			display: none!important;
		}
	}
	&-fullhd{
		@include breakPoint(0, $breakPointFullHD){
			display: none!important;
		}
	}
}

.more{
	&-mobile{
		@include breakPoint(0, $breakPoint){
			display: none!important;
		}
	}

	&-desktop{
		@include breakPoint(0, $breakPointFullHD){
			display: none!important;
		}
	}
}

.no{
	&-mobile{
		@include breakPoint(0, $breakPoint){
			display: none!important;
		}
	}
	&-desktop{
		@include breakPoint($breakPoint){
			display: none!important;
		}
	}
}

.is-hidden{
	display: none !important;
}

//.slick{
//	&-slide{
//
//	}
//
//	&-list{
//
//	}
//
//	&-arrow{
//
//		&_prev{
//			left: 0;
//		}
//
//		&_next{
//			right: 0;
//		}
//
//	}
//
//
//	&-dots{
//
//
//		li{
//
//		}
//
//		button{
//
//		}
//
//
//		.slick-active{
//			button{
//
//			}
//		}
//	}
//}


[data-tab-target]{
	//position: absolute;
	//z-index: -1;
	//pointer-events: none;

	display: none;

	&.active{
		display: block;
	}
	//&.is-active{
	//	position: static;
	//	z-index: auto;
	//	pointer-events: all;
	//}
}

[data-tab-link]{
	cursor: pointer;
}


nobr{
	white-space: nowrap;
}




.inner{
	margin: 0 20px;

	@include breakPoint($breakPoint){
		margin: 0 47px;
	}

	@include breakPoint($breakPointFullHD){
		margin: 0 63px;
	}
}


.header{

	border-bottom: 1px solid $colorBorder;
	height: 60px;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	font-size: 0;
	background: #fff;
	z-index: 10;
	position: fixed;
	min-width: 320px;

	@include breakPoint(0, $breakPoint){
	}

	@include breakPoint($breakPoint){
		height: 90px;
	}

	.inner{
		position: relative;
		height: 100%;

		&:before{
			@include breakPoint($breakPoint){
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
		}

		@include breakPoint($breakPoint){
			margin: 0 (47px - ($gutter / 2));
		}

		@include breakPoint($breakPointFullHD){
			margin: 0 (63px - ($gutter / 2));
		}
	}

	&__filter{

		@include breakPoint(0, $breakPoint){
			width: 31px;
			height: 23px;
			background: url("../../img/svg/filter.svg") no-repeat 50% 50%;
			background-size: contain;
			position: absolute;
			top: 20px;
			left: 0;

			& ~ .header__logo{
				display: none;
			}
		}

		@include breakPoint($breakPoint){
			display: none;
		}
	}

	&__call{
		width: 30px;
		height: 30px;
		background: url("../../img/svg/ico-phone.svg") no-repeat 50% 50%;
		background-size: cover;
		position: absolute;
		top: 16px;
		right: 50px;

		@include breakPoint($breakPoint){
			display: none;
		}
	}

	&__logo{
		position: absolute;
		top: 10px;
		left: 0;

		@include breakPoint($breakPoint){
			top: 24px;
			left: ($gutter / 2);
		}

		&-ico{
			width: 57px;
			height: 40px;
			fill: $colorBlue;
			display: inline-block;
			vertical-align: middle;

			img{
				width: 100%;
				height: 100%;
			}
		}
		&-text{
			display: none;

			@include breakPoint($breakPoint){
				display: inline-block;
				vertical-align: middle;
				color: $colorBlue;
				font-size: 18px;
				margin-left: 23px;
			}
		}
	}
	&__handler{
		position: absolute;
		top: 18px;
		right: 0;
		cursor: pointer;

		@include breakPoint($breakPoint){
			top: 32px;
			right: auto;
			left: 25%;
			margin-left: ($gutter / 2);
		}

		@include breakPoint($breakPointFullHD){
			left: (100% / 6);
		}

		&-ico{
			height: 25px;
			width: 25px;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			@include burgerButton('.show-menu', 25px, 5px, 0);
		}
		&-text{
			display: none;

			@include breakPoint($breakPoint){
				display: inline-block;
				vertical-align: middle;
				color: $colorBlue;
				font-size: 16px;
				margin-left: 19px;
			}
		}
	}
	&__contact{

		@include breakPoint(0, $breakPoint){
			display: none;
		}

		display: inline-block;
		vertical-align: middle;
		width: 50%;
		margin-left: 25%;
		box-sizing: border-box;
		padding-right: ($gutter / 2);
		text-align: right;

		@include breakPoint($breakPointFullHD){
			margin-left: (100% / 6);
			width: (4 * 100% / 6);
		}

		&-phone{
			font-size: 16px;
			font-weight: 600;
		}
		&-text{
			color: $colorText;
			font-size: 12px;
		}
	}
	&__cart{

		@include breakPoint(0, $breakPoint){
			display: none;
		}

		text-align: right;
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
		padding-right: ($gutter / 2);
		width: 25%;

		@include breakPoint($breakPointFullHD){
			width: (100% / 6);
		}

		&-ico{
			width: 38px;
			height: 33px;
			display: inline-block;
			vertical-align: middle;

			img{
				width: 100%;
				height: 100%;
			}
		}

		&-count{
			font-size: 16px;
			margin-left: 21px;
			display: inline-block;
			vertical-align: middle;
		}
		&-text{
			font-size: 12px;
			color: $colorText;
			margin-top: 5px;
		}
	}



}

.nav{

	top: 60px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	background: #fff;
	pointer-events: none;
	transition: all 0.5s ease;
	opacity: 0;
	margin-top: -300px;
	z-index: 9;

	@include breakPoint($breakPoint){
		top: 90px;
		//right: auto;
		//width: 250px;
		//border-right: 1px solid $colorBorder;
		//margin-top: 0;
		//left: -250px;
	}

	.inner{

		@include breakPoint($breakPoint){
			margin: 0 20px;
		}
	}

	.show-menu &{
		opacity: 1;
		pointer-events: all;
		margin-top: 0;
		left: 0;
	}


	&__menu{
		text-align: right;
		font-size: 0;
		padding: 30px 0;

		@include breakPoint($breakPoint){
			text-align: left;
		}

		hr{
			margin: 30px -20px;
			height: 1px;
			background: $colorBorder;

			@include breakPoint($breakPoint){
				margin: 15px -20px;
			}

		}

		&-list{
			@include breakPoint($breakPoint){
				display: inline-block;
				width: 50%;
				vertical-align: top;
			}
		}

		&-title {
			display: block;
			padding-left: 43px;
			position: relative;
		}


		&-item{
			margin: 30px 0;
			font-size: 18px;
			display: block;
			padding-right: 40px;
			position: relative;

			&:hover{

				.nav__menu-text{
					text-decoration: underline;
				}
			}

			@include breakPoint($breakPoint){
				margin: 50px 0;
				padding-right: 0;
				padding-left: 43px;

				.nav__menu-contact &{
					padding-left: 0;
					margin: 0 0 20px;

					display: inline-block;
					width: 45%;
					vertical-align: top;
				}
			}

			&:first-child{
				margin-top: 0;
			}

			&:last-of-type{
				margin-bottom: 0;
			}

			&.is-active{
				color: $colorBlue;
			}


		}

		&-ico{
			width: 25px;
			height: 25px;
			position: absolute;
			right: 0;
			top: -1px;
			font-size: 0;

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}


			svg{
				.is-active &{
					fill: $colorBlue;
				}
			}

			@include breakPoint($breakPoint){
				width: 25px;
				height: 25px;
				top: 6px;
				right: auto;
				left: 0;

				.nav__menu-contact .nav__menu-item &{
					width: 16px;
					height: 16px;
					top: 4px;

					& ~ .nav__menu-text,
					& ~ .nav__menu-note{
						padding-left: 25px;
					}
				}

				.nav__menu-title &{
					width: 25px;
					height: 25px;
					top: 6px;
				}
			}

			img{
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
			}
		}

		&-text{
			font-size: 14px;
			line-height: 1.5;

			@include breakPoint($breakPoint){
				font-size: 24px;
				font-weight: 500;

				.nav__menu-contact &{
					font-size: 16px;
				}

				.nav__menu-title &{
					font-size: 24px;
					margin-bottom: 50px;
				}
			}

			p{
				margin: 10px 0;
			}
		}

		&-note{
			display: none;

			@include breakPoint($breakPoint){
				display: block;
				color: #ADADAD;
				font-size: 10px;
				text-decoration: none !important;
				margin-top: 5px;
			}
		}

		&-btn{
			margin-top: 30px;

			.btn{
				width: 100%;

				@include breakPoint($breakPoint){
					width: auto;
				}
			}
		}

		&-contact{
			@include breakPoint($breakPoint){
				display: inline-block;
				vertical-align: top;
				width: 50%;
			}
		}

		&-subtitle{
			font-size: 18px;
			font-weight: 500;
			margin-top: 60px;
			margin-bottom: 15px;
		}
	}
}

.footer{
	border-top: 2px solid $colorGrey;
	font-size: 0;
	padding: 20px 0 30px;

	@include breakPoint(0, $breakPoint){

		.is-popup-calc &,
		.is-popup &{
			display: none!important;
		}
	}


	@include breakPoint($breakPoint){
		padding: 35px 0 40px;
	}

	.inner{


		@include breakPoint($breakPoint){
			margin: 0 (47px - ($gutter / 2));
		}

		@include breakPoint($breakPointFullHD){
			margin: 0 (63px - ($gutter / 2));
		}
	}

	&__logo{
		margin-bottom: 9px;
		box-sizing: border-box;
		padding: 0 ($gutter / 2);

		@include breakPoint(0, $breakPoint){
			display: none;
		}


		&-ico{
			width: 34px;
			height: 24px;
			display: inline-block;
			vertical-align: middle;

			img{
				width: 100%;
				height: 100%;
			}
		}

		&-text{
			font-size: 20px;
			font-weight: 900;
			display: inline-block;
			vertical-align: middle;
			margin-left: 18px;
		}
	}

	&__copy{
		font-size: 12px;
		margin-bottom: 23px;
		box-sizing: border-box;
		padding: 0 ($gutter / 2);

		@include breakPoint(0, $breakPoint){
			display: none;
		}

		&-text{
			display: inline-block;
			vertical-align: baseline;
			margin-right: 36px;

			span{
				color: $colorText;
			}
		}

		&-links{
			display: inline-block;
			vertical-align: baseline;

			a{
				color: $colorBlue;
				display: inline-block;

				&:after{
					content: '|';
					display: inline-block;
					margin: 0 3px;
				}

				&:last-child{
					&:after{
						display: none;
					}
				}
			}
		}
	}

	&__nav{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		box-sizing: border-box;

		@include breakPoint(0, $breakPoint){
			display: none;
		}

		@include breakPoint($breakPoint){
			width: (2 * 100% / 6);
		}

		ul{
			padding: 0 ($gutter / 2);
			display: inline-block;
			vertical-align: top;
			width: 50%;
			font-size: 14px;
			box-sizing: border-box;
		}

		li{
			display: block;
			margin: 7px 0;
		}

	}

	&__contact{
		font-size: 14px;
		color: $colorText;
		box-sizing: border-box;
		padding-right: ($gutter / 2);

		@include breakPoint(0, $breakPoint){
			text-align: center;
			display: flex;
			flex-direction: column;
		}

		@include breakPoint($breakPoint){
			display: inline-block;
			vertical-align: top;
			text-align: right;
			width: (4 * 100% / 6);
		}


		&-address{
			line-height: 1.3;

			@include breakPoint(0, $breakPoint){
				font-size: 12px;
				order: 2;
			}

			@include breakPoint($breakPoint){
				margin-bottom: 12px;
			}
		}
		&-phone{
			color: $colorBlack;
			margin-bottom: 10px;

			@include breakPoint($breakPoint){
				margin-bottom: 12px;
			}
		}

		&-email{
			margin-bottom: 20px;
		}
	}

}


.slick{

	&-slider{
		position: relative;
	}

	&-disabled{
		fill: $colorText !important;
	}
	&-arrow{
		width: 44px;
		position: absolute;
		height: 44px;
		border-radius: 50%;
		background: #fff;
		fill: $colorBlue;
		top: 50%;
		margin-top: -22px;
		z-index: 1;
		box-shadow: 0 0 6px rgba(0, 0, 0, .16);
		cursor: pointer;

		svg{
			width: 100%;
			height: 100%;
		}

		&_prev{
			transform: rotate(-90deg);
			left: -10px;
		}
		&_next{
			transform: rotate(90deg);
			right: -10px;
		}
	}

	&-dots{



		font-size: 0;
		text-align: center;
		width: 100%;

		li{
			display: inline-block;
			vertical-align: middle;
			margin: 5px;
		}

		button{
			display: block;
			width: 14px;
			height: 14px;
			border: 2px solid $colorGrey;
			box-sizing: border-box;
			border-radius: 50%;
		}


		.slick-active{
			button{
				background: $colorBlue;
				border-color: $colorBlue;
			}
		}
	}
}