
.plate{
	color: #fff;
}

.main{
	padding: 60px 0 75px;
	background: no-repeat 50% 50%;
	background-size: cover;
	flex: 1;
	position: relative;

	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: no-repeat 50% 50%;
		background-size: cover;
	}

	.inner{
		position: relative;
	}

	&__title{
		font-size: 40px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 80px;
		line-height: 2;

		@include breakPoint($breakPoint){
			margin-bottom: 100px;
			line-height: 1.2;
		}
	}

	.form{
		&__field{

			@include breakPoint(0, $breakPoint){
				max-width: 210px;
				display: block;
				margin: 0 auto 20px;
			}

			@include breakPoint($breakPoint){
				width: 25%;
				vertical-align: middle;
				margin-bottom: 0;
			}

		}

		&__input{
			box-shadow: 0 2px 5px rgba(0,0,0,0.35);
		}

		&__select{
			box-shadow: 0 2px 5px rgba(0,0,0,0.35);
		}
	}

	&__form{

		@include breakPoint($breakPointFullHD){
			width: (4 * 100% / 6);
			margin: 0 auto;
		}


		.form__select-value{

			@include breakPoint($breakPoint){
				padding-left: 10px;
			}
		}

		.form__placeholder{

			@include breakPoint($breakPoint){
				padding-left: 10px;
			}
		}

		.form__footnote{
			color: #fff;
			height: 40px;
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-end;
			align-content: stretch;
			align-items: center;
			padding: 0 10px;
		}

		&-title{
			font-size: 30px;
			text-align: center;
			margin-bottom: 40px;
			font-weight: 600;

			@include breakPoint(0, $breakPoint){
				display: none;
			}
		}

		&-filter{
			@include breakPoint(0, $breakPoint){
				display: none;
			}

			@include breakPoint($breakPoint){
				margin-bottom: 75px;
				//background: #fff;
				//box-shadow: 0 0 0 10px #fff;
			}
		}

		&-outside{
			text-align: center;

			@include breakPoint($breakPoint){
				text-align: right;
				width: 50%;
				margin-left: 50%;
				//background: #fff;
				//box-shadow: 0 0 0 10px #fff;

				.form__field{
					width: 50%;
				}
			}
		}
	}

}


.catalog{

	@include breakPoint($breakPoint){
		padding: 25px 0 40px;
	}


	&__filter{

		@include breakPoint(0, $breakPoint){
			position: fixed;
			top: 60px;
			bottom: 0;
			left: -100%;
			right: 100%;
			background: #fff;
			overflow: auto;
			transition: all 0.3s ease;
			z-index: 1;

			.show-filter &{
				left: 0;
				right: 0;
			}
		}

		@include breakPoint($breakPoint){
			margin-bottom: 30px;
		}

		@include breakPoint($breakPointFullHD){
			.catalog__list_grid &{
				display: none;
			}

		}


		.form{
			@include breakPoint(0, $breakPoint){
				padding: 20px;
			}

			&__placeholder{
				@include breakPoint(0, $breakPoint){
					display: none;
				}
			}

			&__select{
				@include breakPoint(0, $breakPoint){
					&-value{
						display: none;
					}

					&-dropdown{
						opacity: 1;
						pointer-events: all;
						position: static;
						border: none;
						background: none;
					}

					&-list{
						font-size: 0;
						margin: -6px;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: flex-start;
						align-content: flex-start;
						align-items: flex-start;
					}

					&-scrollbar{
						max-height: none;

						.mCSB_container{
							margin: 0;
						}

						.mCSB_scrollTools{
							display: none!important;
						}
					}

					&-item{
						padding: 6px;
						display: inline-block;
						font-size: 14px;
						font-weight: bold;
						min-width: 25%;
						box-sizing: border-box;

						input{
							&:checked{

							}
						}
					}

					&-option{
						height: 42px;
						line-height: 38px;
						box-sizing: border-box;
						min-width: 60px;
						border: 2px solid $colorBlue;
						text-align: center;
						padding: 0 10px;
					}
				}
			}

			&__field{
				@include breakPoint(0, $breakPoint){

				}

				@include breakPoint($breakPoint){
					width: 25%;
					vertical-align: middle;
					margin-bottom: 0;
				}

				@include breakPoint($breakPointFullHD){
					width: (100% / 6);
				}


				&_control{
					font-size: 0;

					.btn{
						width: calc(50% - 20px);

						&:first-child{
							margin-right: 40px;
						}
					}
				}
			}

			&__title{
				font-size: 14px;
				border-bottom: 2px solid $colorBorder;
				padding: 15px 0;
				margin-bottom: 10px;

				@include breakPoint($breakPoint){
					display: none;
				}
			}
		}
	}

	&__info{

		overflow: hidden;

		@include breakPoint(0, $breakPoint){
			display: none;
		}

		@include breakPoint($breakPoint){
			margin-bottom: 30px;
		}

		&-text{
			color: $colorText;
			font-size: 14px;
			float: left;
			margin-top: 7px;
		}

		&-control{
			float: right;
		}

		&-view{
			width: 30px;
			height: 30px;
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
			cursor: pointer;

			svg{
				width: 100%;
				height: 100%;
				fill: none;
				stroke: $colorGrey;
				stroke-width: 15px;
			}

			&.is-active{
				svg{
					stroke: $colorBlue;
				}
			}
		}
	}


	&__list{
		font-size: 0;

		@include breakPoint(0, $breakPoint){
			margin: 0 -20px;
		}

		&_grid{
			@include breakPoint($breakPoint){
				margin: 0 (-$gutter / 2);
			}
		}
	}

	&__head{
		display: none;
		font-size: 0;
		background: #E6ECF3;
		border-bottom: 2px solid #ADADAD;

		&-inner{
			margin: 0 (-$gutter / 2);
		}

		&-filter{

			@include breakPoint($breakPoint, $breakPointFullHD){
				display: inline-block;
				position: relative;
				cursor: pointer;

				&:hover{
					color: $colorBlue;
				}

				&:after{
					content: '';
					width: 12px;
					height: 8px;
					position: absolute;
					background: url("../../img/svg/arrow-down.svg") no-repeat 50% 50%;
					background-size: cover;
					margin-top: -4px;
					top: 50%;
					right: -20px;
					transform: rotate(0deg);
					transition: all 0.3s ease;
				}

				&.is-active{
					&:after{
						transform: rotate(180deg);
						background-image: url("../../img/svg/arrow-down_color.svg");
					}
				}
			}

			&in{
				position: relative;
				display: inline-block;
				@include breakPoint($breakPointFullHD){
					cursor: pointer;

					&:hover{
						color: $colorBlue;
					}

					&:after{
						content: '';
						width: 12px;
						height: 8px;
						position: absolute;
						background: url("../../img/svg/arrow-down.svg") no-repeat 50% 50%;
						background-size: cover;
						margin-top: -4px;
						top: 50%;
						right: -20px;
						transform: rotate(0deg);
						transition: all 0.3s ease;
					}

					&.is-active{
						&:after{
							transform: rotate(180deg);
							background-image: url("../../img/svg/arrow-down_color.svg");
						}
					}
				}
			}
		}

		&-col{
			display: inline-block;
			vertical-align: middle;
			color: #8A8A8A;
			font-size: 12px;
			line-height: 1.5;
			box-sizing: border-box;
			padding: 7px ($gutter / 2);

			@include breakPoint($breakPointFullHD){
				padding: 18px ($gutter / 2);
				font-size: 14px;
			}


			&_id{
				width: 11%;
				text-align: center;

				@include breakPoint($breakPointFullHD){
					width: 7%;
				}
			}

			&_state{
				width: 14%;

				@include breakPoint($breakPointFullHD){
					width: ((100% / 6) - 7%);
				}
			}

			&_dim{
				width: 11%;

				@include breakPoint($breakPointFullHD){
					width: (100% / 6);
					padding: 0;
					white-space: nowrap;
					font-size: 0;
				}

				span{
					display: block;

					@include breakPoint(0, $breakPointFullHD){

						&:first-child{
							&:after{
								content: ', ';
							}
						}
					}

					@include breakPoint($breakPointFullHD){
						font-size: 14px;
						display: inline-block;
						box-sizing: border-box;
						padding: 0 ($gutter / 2);
						width: 50%;
						text-transform: capitalize;
					}
				}
			}

			&_img{
				width: 14%;

				@include breakPoint($breakPointFullHD){
					width: (100% / 6);
				}
			}

			&_name{
				width: 25%;
			}

			&_price{
				width: 25%;

				@include breakPoint($breakPointFullHD){
					font-size: 0;
					width: (100% / 6);
					white-space: nowrap;
					padding: 0;
				}

				span{
					display: block;

					@include breakPoint($breakPointFullHD){
						font-size: 14px;
						display: inline-block;
						box-sizing: border-box;
						padding: 0 ($gutter / 2);
						width: 50%;
					}
				}
			}

		}

		.catalog__list_lines &{
			@include breakPoint($breakPoint){
				display: block;
			}
		}
	}


	&__item{

		@include breakPoint(0, $breakPoint){

			font-size: 8px;
			margin: 15px 0;
			position: relative;

			.in{
				&-title{
					color: $colorText;
					display: inline-block;
					vertical-align: baseline;
					font-weight: 300;
				}
				&-value{
					display: inline-block;
					vertical-align: baseline;
				}
			}

			&-inner{
				padding-right: 30px;
				overflow: hidden;
				max-width: 380px;
			}

			&-image{
				width: 106px;
				height: 80px;
				float: left;
				margin-right: 10px;

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				&-more{
					display: none;
				}

			}

			&-name{
				font-size: 12px;

				float: left;
				width: calc(100% - 116px);
				margin-bottom: 5px;
				max-height: 28px;
				@include ellipsis(2);
			}

			&-id{
				text-transform: uppercase;
				float: left;
				width: 80px;
				font-weight: 300;
				margin-bottom: 10px;
			}

			&-state{

				float: left;
				width: calc(100% - 196px);
				font-weight: 300;
				margin-bottom: 10px;

				.in-title{
					display: none;
				}
			}

			&-dim{
				float: left;
				width: 80px;

				&-diameter{
					margin-bottom: 5px;
				}
				&-thinkness{}

				.in-value{
					font-weight: 600;
				}
			}

			&-price{
				float: left;
				width: calc(100% - 196px);

				&-weight{
					margin-bottom: 5px;
				}
				&-length{}

				.in-value{
					font-weight: 600;
				}
			}

			&-link{
				width: calc(100% - 390px);
				min-width: 20px;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				max-width: 100px;

				.btn{
					font-size: 0;
					height: 100%;
					width: 100%;
					padding: 0;

					&:before{
						content: '';
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						width: calc(100vw - 115px);
						height: 100%;
						background: rgba(255,255,255,0);
					}

					&:after{
						content: '>';
						font-size: 12px;
						padding: 0;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						line-height: 0;
						height: 0px;
						display: inline-block;
					}
				}
			}
		}

		@include breakPoint($breakPoint){

			font-size: 14px;

			.catalog__list_lines &{
				transition: border-color 0.3s ease;
				border-bottom: 2px solid $colorBorder;
			}

			.catalog__list_grid &{
				//border-top: 2px solid $colorBorder;
				width: 25%;
				box-sizing: border-box;
				display: inline-block;
				padding: 0 ($gutter / 2);
			}

			&:hover{
				border-color: $colorBlue;

				.catalog__item-inner{
					border-color: $colorBlue;
				}

				.btn{
					border-color: $colorBlue;

					.catalog__list_grid &{
						opacity: 1;
					}
				}
			}

			.in{
				&-title{
					.catalog__list_lines &{
						display: none;
					}
					.catalog__list_grid &{
						font-size: 10px;
						color: $colorText;
						text-transform: uppercase;
					}
				}
				&-value{
				}
			}

			&-inner{
				margin: 0 (-$gutter / 2);
				padding: 15px 0;

				.catalog__list_lines &{
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: flex-start;
					align-content: center;
					align-items: center;
				}

				.catalog__list_grid &{
					margin: 0;
					border-top: 2px solid $colorBorder;
					transition: border-color 0.3s ease;

					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: flex-start;
					align-content: flex-start;
					align-items: flex-start;
				}
			}

			&-id{
				.catalog__list_lines &{
					order: 1;
					width: 11%;
					flex-basis: 11%;
					box-sizing: border-box;
					padding: 0 ($gutter / 2);
					text-align: center;

					@include breakPoint($breakPointFullHD){
						width: 7%;
						flex-basis: 7%;
					}
				}

				.catalog__list_grid &{
					display: none;
				}
			}

			&-name{

				.catalog__list_lines &{
					order: 5;
					font-weight: bold;
					width: 25%;
					flex-basis: 25%;
					padding: 0 ($gutter / 2);
					box-sizing: border-box;
				}

				.catalog__list_grid &{
					order: 1;
					width: 100%;
					flex-basis: 100%;
					margin-bottom: 15px;
				}
			}

			&-image{

				.catalog__list_lines &{
					order: 4;
					white-space: nowrap;
					font-size: 0;
					width: 14%;
					flex-basis: 14%;
					padding: 0 ($gutter / 2);
					box-sizing: border-box;

					@include breakPoint($breakPointFullHD){
						width: (100% / 6);
						flex-basis: (100% / 6);
					}
				}

				.catalog__list_grid &{
					order: 2;
					margin-bottom: 15px;
				}

				img{
					display: none;
					vertical-align: top;
					width: 100%;

					&:nth-of-type(1){
						display: inline-block;
					}

					.catalog__list_lines &{
						width: 63px;
						height: 48px;
						object-fit: cover;
						max-width: calc(100% - 43px);

						@include breakPoint($breakPointFullHD){

							&:nth-of-type(2){
								display: inline-block;
							}

							&:nth-of-type(3){
								display: inline-block;
							}
						}
					}
				}

				&-more{
					display: inline-block;
					background: #E6ECF3;
					vertical-align: top;
					width: 43px;
					height: 48px;
					text-align: center;
					box-sizing: border-box;
					padding-top: 26px;
					font-size: 14px;
					position: relative;

					.catalog__list_grid &{
						display: none;
					}

					&:before,
					&:after{
						content: '';
						display: block;
						position: absolute;
						width: 12px;
						height: 2px;
						background: $colorBlue;
						left: 50%;
						margin-left: -6px;
						top: 18px;
						margin-top: -1px;
					}

					&:after{
						transform: rotate(90deg);
					}
				}

			}

			&-state{

				.catalog__list_lines &{
					order: 2;
					width: 14%;
					flex-basis: 14%;
					padding: 0 ($gutter / 2);
					box-sizing: border-box;

					@include breakPoint($breakPointFullHD){
						width: ((100% / 6) - 7%);
						flex-basis: ((100% / 6) - 7%);
					}

					.in-value{
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				.catalog__list_grid &{
					order: 3;
					width: (100% / 3);
					flex-basis: (100% / 3);
					padding-right: 10px;
					box-sizing: border-box;

					.in-title{
						margin-bottom: 10px;
					}

					.in-value{
						overflow: hidden;
						text-overflow: ellipsis;
					}

				}
			}

			&-dim{

				.in-value:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 22px;
					height: 19px;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: contain;
					margin-right: 6px;
					position: relative;
					top: -2px;
				}

				.catalog__list_lines &{

					order: 3;
					width: 11%;
					flex-basis: 11%;
					padding: 0 ($gutter / 2);
					box-sizing: border-box;
					white-space: nowrap;

					@include breakPoint($breakPointFullHD){
						width: (100% / 6);
						flex-basis: (100% / 6);
						font-size: 0;
						padding: 0;
					}
				}

				.catalog__list_grid &{
					order: 4;
					width: (2 * 100% / 3);
					flex-basis: (2 * 100% / 3);
					font-size: 0;

					.in-title{
						margin-bottom: 10px;
					}
				}

				&-diameter{

					.in-value:before{
						width: 17px;
						height: 17px;
						background-image: url("../../img/svg/diameter.svg");
					}

					.catalog__list_lines &{
						margin-bottom: 5px;

						@include breakPoint($breakPointFullHD){
							font-size: 14px;
							display: inline-block;
							box-sizing: border-box;
							padding: 0 ($gutter / 2);
							width: 50%;
						}
					}

					.catalog__list_grid &{
						display: inline-block;
						font-size: 14px;
						width: 50%;
						padding-right: 10px;
						box-sizing: border-box;
					}
				}

				&-thinkness{

					.in-value:before{
						width: 22px;
						height: 19px;
						background-image: url("../../img/svg/thickness.svg");
					}

					.catalog__list_lines &{
						@include breakPoint($breakPointFullHD){
							font-size: 14px;
							display: inline-block;
							box-sizing: border-box;
							padding: 0 ($gutter / 2);
							width: 50%;
						}
					}

					.catalog__list_grid &{
						display: inline-block;
						font-size: 14px;
						width: 50%;
					}
				}
			}

			&-price{

				&-inner{

				}

				.in-value{
					font-weight: 600;
				}

				.catalog__list_lines &{
					order: 6;
					font-weight: 600;
					font-size: 16px;
					width: 13%;
					flex-basis: 13%;
					padding: 0 ($gutter / 2);
					box-sizing: border-box;
					white-space: nowrap;

					@include breakPoint($breakPointFullHD){
						width: (100% / 6);
						flex-basis: (100% / 6);
						font-size: 0;
						padding: 0;

						.in-value{
							font-size: 16px;
						}

					}
				}

				.catalog__list_grid &{
					order: 5;
					width: 100%;
					flex-basis: 100%;

					margin-top: 25px;

					.in-value{
						font-size: 16px;
					}
				}


				&-weight{

					.catalog__list_lines &{
						margin-bottom: 5px;

						@include breakPoint($breakPointFullHD){
							font-size: 14px;
							display: inline-block;
							box-sizing: border-box;
							padding: 0 ($gutter / 2);
							width: 50%;
						}
					}

					.catalog__list_grid &{
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: space-between;
						align-content: flex-start;
						align-items: flex-end;
						margin-bottom: 10px;
					}
				}
				&-length{
					.catalog__list_lines &{
						@include breakPoint($breakPointFullHD){
							font-size: 14px;
							display: inline-block;
							box-sizing: border-box;
							padding: 0 ($gutter / 2);
							width: 50%;
						}
					}

					.catalog__list_grid &{
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: space-between;
						align-content: flex-start;
						align-items: flex-end;
					}
				}
			}

			&-link{
				.catalog__list_lines &{
					order: 7;
					width: 12%;
					flex-basis: 12%;
					padding: 0 ($gutter / 2);
					box-sizing: border-box;

					@include breakPoint($breakPointFullHD){
						width: (100% - ((4 * 100% / 6) + 25%));
						flex-basis: (100% - ((4 * 100% / 6) + 25%));
					}
				}

				.catalog__list_grid &{
					order: 6;
					width: 100%;
					flex-basis: 100%;
					margin-top: 15px;
				}


				.btn{
					border-color: transparent;
					padding: 0;
					width: 100%;
					transition: all 0.3s ease 0.1s;
					overflow: hidden;
					text-overflow: ellipsis;

					.catalog__list_grid &{
						opacity: 0;
					}
				}
			}

		}

		@include breakPoint($breakPointFullHD){
			.catalog__list_grid &{
				width: (100% / 6);
			}
		}

	}


	&__message{
		text-align: center;
		padding: 30px 20px 50px;

		@include breakPoint($breakPoint){
			padding: 90px 20px;
		}

		&-ico{
			width: 65px;
			height: 65px;
			background: url("../../img/svg/lens.svg") no-repeat 50% 50%;
			background-size: contain;
			margin: 0 auto 50px;

			@include breakPoint($breakPoint){
				margin: 0 auto 70px;
			}
		}

		&-title{


			font-size: 16px;
			font-weight: 600;
			margin-bottom: 15px;

			@include breakPoint($breakPoint){
				font-size: 24px;
			}
		}

		&-text{
			font-size: 12px;
			color: $colorText;
			margin-bottom: 30px;

			@include breakPoint($breakPoint){
				font-size: 16px;
			}
		}

		&-btn{
			.btn{
				max-width: 290px;
			}
		}
	}
}


.about{
	padding-bottom: 50px;

	&__image{
		height: 215px;
		background: no-repeat 50% 50%;
		background-size: cover;
		margin: 0 -20px 30px;

		@include breakPoint($breakPoint){
			margin: 30px 0;
		}
	}

	&__title{
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 30px;
	}

	&__content{
		margin: 30px 0;

		@include breakPoint($breakPointFullHD){
			font-size: 0;
			margin: 0 (-$gutter / 2);
		}
	}

	&__text{
		font-size: 14px;
		margin-bottom: 40px;
		line-height: 1.4;

		@include breakPoint($breakPointFullHD){
			display: inline-block;
			width: 50%;
			padding: 0 ($gutter / 2);
			box-sizing: border-box;
			vertical-align: top;
		}

		p{
			margin: 0 0 15px;
		}

		&-inner{
			margin-bottom: 30px;

			&:last-child{
				margin-bottom: 0;
			}
		}

		&-content{
			font-size: 0;

			@include breakPoint($breakPoint, $breakPointFullHD){
				margin: 0 (-$gutter / 2);
			}
		}

		&-item{
			font-size: 14px;

			@include breakPoint($breakPoint, $breakPointFullHD){
				display: inline-block;
				width: 50%;
				padding: 0 ($gutter / 2);
				box-sizing: border-box;
				vertical-align: top;
			}

			@include breakPoint($breakPointFullHD){
			}
		}
	}

	&__form{

		@include breakPoint($breakPointFullHD){
			display: inline-block;
			vertical-align: top;
			width: 50%;
			padding: 0 ($gutter / 2);
			box-sizing: border-box;
		}

		.form{

			&__field{

				&_drop{

					text-align: center;
					font-size: 10px;
					color: $colorBlue;
					line-height: 1.5;

				}
			}

			&__wrap{
				margin-bottom: 25px;

				.form__field{
					@include breakPoint($breakPoint){
						width: 50%;
					}
				}
			}

			&__file{

				.form__field{
					@include breakPoint($breakPoint){
						width: 25%;

						&_right{
							float: right;
						}
					}

					@include breakPoint($breakPointFullHD){
						float: left;
						clear: left;
						margin-bottom: 20px;
					}

					&_drop{
						@include breakPoint($breakPoint){
							width: 50%;
						}

						@include breakPoint($breakPointFullHD){
							width: 75%;
							float: none;
						}
					}
				}


			}
		}
	}
}


.typo{
	padding-bottom: 50px;


	&__title{
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 30px;
	}

	&__content{
		margin: 30px 0;

	}

	&__text{
		font-size: 14px;
		margin-bottom: 40px;
		line-height: 1.4;

		p{
			margin: 0 0 15px;
		}

		&-inner{
			margin-bottom: 30px;

			&:last-child{
				margin-bottom: 0;
			}
		}

		&-content{
			font-size: 0;

			@include breakPoint($breakPoint){
				margin: 0 (-$gutter / 2);
			}
		}

		&-item{
			font-size: 14px;

			@include breakPoint($breakPoint){
				display: inline-block;
				width: 50%;
				padding: 0 ($gutter / 2);
				box-sizing: border-box;
				vertical-align: top;
			}

			@include breakPoint($breakPointFullHD){
			}
		}


		table{
			width: 100%;
			margin: 20px 0;
		}

		th,
		td{
			padding: 5px 10px;
			border: 1px solid #fff;
		}

		td{
			background: rgba($colorBlue, 0.2);
		}

		th{
			color: #fff;
			background: $colorBlue;
		}

		tr{

			&:nth-of-type(2n){
				td{
					background: rgba($colorBlue, 0.1);
				}

			}
		}

	}




}




.product{
	img{
		max-width: 100%;
		max-height: 100%;
	}


	&__preview{

		@include breakPoint($breakPoint){
			//overflow: hidden;
		}

		&-main{
			@include breakPoint($breakPoint){
				float: left;
				width: calc(100% - 210px);
			}

			@include breakPoint($breakPointDT){
				width: calc(100% - 270px);
			}
		}
		&-image{
			margin: 0 -20px 20px;
			font-size: 0;

			@include breakPoint($breakPoint){
				margin: 0 0 20px;
				padding-bottom: 23px;
				border-bottom: 1px solid $colorBorder;
				height: 440px;
			}
		}

		&-img{
			position: relative;
			display: inline-block;
			height: 100%;
		}

		&-open{
			margin-left: calc(100% - 180px);
			width: 60px;
			height: 60px;
			background: rgba(#fff, 0.5) url("../../img/svg/zoom.svg") no-repeat 50% 50%;
			background-size: 18px 18px;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			display: block;
		}
		&-text{
			font-size: 14px;
			line-height: 1.5;
		}

		&-aside{
			@include breakPoint($breakPoint){
				margin-left: calc(100% - 180px);
			}
			@include breakPoint($breakPointDT){
				margin-left: calc(100% - 240px);
			}
		}

		&-thumbnail{
			font-size: 0;
			margin: 20px 0;

			@include breakPoint($breakPoint){
				height: 440px;
				margin-top: 0;
				margin-bottom: 44px;
			}
		}

		&-carousel{

			@include breakPoint($breakPoint){
				height: 100%;
			}
		}

		&-item{
			&.is-active{
				background: $colorBlue;

				img{
					opacity: 0.5;
				}
			}
		}

		&-btn{
			.btn{
				display: block;
			}
		}

		.slick{

			@include breakPoint($breakPoint){

				&-list{
					height: 100% !important;
				}

				&-arrow{
					margin-top: 0;
					right: auto;
					margin-left: -22px;
					top: auto;

					&_prev{
						left: 50%;
						transform: rotate(0deg);
						top: -22px;
					}

					&_next{
						left: 50%;
						transform: rotate(180deg);
						bottom: -22px;
					}
				}
			}
		}
	}

	//*** item


	&__item{
		position: relative;
	}

	&__info{
		margin-bottom: 20px;

		@include breakPoint($breakPoint){
			margin-bottom: 0;
			width: 180px;
			float: right;
		}

		@include breakPoint($breakPointDT){
			width: 240px;
		}

		&-inner{

			@include breakPoint($breakPoint){
				width: 180px;
				padding: 20px 0;

				&.fixed_top{
					position: fixed;
					top: 0;
				}

				&.fixed_bottom{
					position: fixed;
					bottom: 0;
				}

				&.fixed_down{
					position: absolute;
					bottom: 0;
				}
			}
		}

		&-price{
			display: none;

			@include breakPoint($breakPoint){
				display: block;
			}

			&-title{
				font-size: 12px;
				color: $colorText;
				margin-bottom: 5px;
			}
			&-value{
				font-size: 20px;
				color: $colorBlue;
				font-weight: 600;
				margin-bottom: 10px;
			}
		}
		&-table{
			font-size: 12px;
			display: table;
			width: 100%;
			margin-bottom: 20px;

			&-item{
				display: table-row;

				@include breakPoint($breakPoint){
				}
			}

			&-key{
				color: $colorText;
				display: table-cell;
				padding: 5px 0;
				font-weight: 300;

				@include breakPoint($breakPoint){
					font-size: 12px;
					padding: 10px 0;
					min-height: 25px;
					vertical-align: bottom;
					border-bottom: 1px solid $colorBorder;
				}
			}

			&-value{
				text-align: right;
				display: table-cell;
				padding: 5px 0;
				white-space: nowrap;

				@include breakPoint($breakPoint){
					padding: 10px 0;
					height: 25px;
					vertical-align: bottom;
					border-bottom: 1px solid $colorBorder;
				}
			}

			.ico-diameter, .ico-thinkness{
				display: inline-block;
				vertical-align: middle;
				width: 22px;
				height: 19px;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: contain;
				margin-right: 6px;
				position: relative;
				top: -2px;
			}

			.ico-diameter{
				width: 17px;
				height: 17px;
				background-image: url("../../img/svg/diameter.svg");
			}

			.ico-thinkness{

				width: 22px;
				height: 19px;
				background-image: url("../../img/svg/thickness.svg");
			}
		}
		&-comment{
			margin-bottom: 20px;

			textarea{
				&::-webkit-input-placeholder {
					display: none;
					font-size: 0;
				}
				&::-moz-placeholder {
					display: none;
					font-size: 0;
				}
				&:-moz-placeholder {
					display: none;
					font-size: 0;
				}
				&:-ms-input-placeholder {
					display: none;
					font-size: 0;
				}

				@include breakPoint($breakPoint){
					height: 80px;
				}
			}

			.form__placeholder{
				font-size: 10px;
				white-space: normal;
				line-height: 1.3;
				font-style: italic;
				width: 100%;
				text-align: left;
			}

			&-title{
				display: none;
			}

			&-field{}
		}
		&-btn{
			.btn{
				min-width: 120px;

				@include breakPoint($breakPoint){
					width: 100%;
					margin-top: 10px;
				}
			}
		}
	}

	&__gallery{

		&-main{


			margin: 0 -20px;

			@include breakPoint($breakPoint){
				margin: 0;
				height: 400px;
			}

			&-img{
				position: relative;
				display: inline-block;
				height: 100%;

			}

			&-open{
				margin-left: calc(100% - 180px);
				width: 60px;
				height: 60px;
				background: rgba(#fff, 0.5) url("../../img/svg/zoom.svg") no-repeat 50% 50%;
				background-size: 18px 18px;
				cursor: pointer;
				position: absolute;
				top: 0;
				right: 0;
				display: block;
			}
		}
		&-preview{
			font-size: 0;
			display: none;

			@include breakPoint($breakPoint){
				display: block;
				margin-top: 10px;
			}
		}
		&-thambnail{
			display: inline-block;
			vertical-align: middle;
			width: 63px;
			height: 48px;
			margin-right: 1px;
			cursor: pointer;

			img{
				width: 100%;
				height: 100%;

				object-fit: cover;
			}

			&.is-active{
				background: $colorBlue;

				img{
					opacity: 0.5;
				}
			}

			&_more{
				background: #E6ECF3;
				padding: 25px 0 0;
				font-size: 12px;
				box-sizing: border-box;
				position: relative;
				text-align: center;

				&:before{
					content: '';
					width: 12px;
					height: 12px;
					background: url("../../img/svg/close.svg") no-repeat 50% 50%;
					background-size: contain;
					position: absolute;
					top: 10px;
					left: 50%;
					margin-left: -6px;
					transform: rotate(45deg);
				}
			}
		}
	}
	&__about{



		@include breakPoint($breakPoint){
			width: calc(100% - 210px);
		}
		@include breakPoint($breakPointDT){
			width: calc(100% - 270px);
		}

		&-title{
			font-size: 14px;
			font-weight: bold;
			margin: 30px 0 15px;

			&:first-child{
				margin-top: 0;
			}

			@include breakPoint($breakPoint){
				font-size: 18px;
			}

			span{
				color: $colorBlue;
			}
		}
		&-text{
			line-height: 1.5;

			p{
				margin: 15px 0;
			}
		}
		&-map{
			height: 215px;
			margin: 20px -20px ;
			background: $colorText;

			@include breakPoint($breakPoint){
				height: 287px;
				margin: 20px 0;
			}
		}
		&-btn{
			.btn{
				width: 100%;
			}
		}
		&-form{

			max-width: 420px;

			.form__field_halfd{

				@include breakPoint($breakPoint){
					width: 50%;
				}
			}

			.btn{
				width: auto;
				min-width: 210px;
			}
		}
	}
	&__accordion{
		border-top: 1px solid $colorBorder;
		border-bottom: 1px solid $colorBorder;
		margin-top: -1px;

		&-head{
			position: relative;
			font-size: 16px;
			padding: 20px 30px 20px 83px;
			cursor: pointer;

			&:after{
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -10px;
				right: 0;
				width: 20px;
				height: 20px;
				background: url("../../img/svg/arrow_d.svg");
				background-size: contain;
				transform: rotate(180deg);
				transition: all 0.3s ease;

				.product__accordion.is-open &{
					transform: rotate(0deg);
				}
			}
		}

		&-inner{
			margin-left: 83px;
		}
		&-text{

		}
		&-gallery{
			font-size: 0;
		}
		&-slide{

		}

		&-img{
			width: 63px;
			height: 48px;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -24px;
			font-size: 0;

			img{
				display: inline-block;
				vertical-align: middle;
			}

			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
		}
		&-title{}
		&-body{
			display: none;

			.product__accordion.is-open &{
				display: block;
			}
		}
		&-inner{}
		&-text{
			line-height: 1.5;
			margin-bottom: 15px;
		}
		&-gallery{
			margin-bottom: 50px;
			margin-right: 60px;

			.slick{
				&-dots{
					position: absolute;
					bottom: -35px;
				}

				&-arrow{
					box-shadow: none;
					background: none;

					@include breakPoint(0, $breakPoint){
						display: none;
					}

					&_prev{

						@include breakPoint($breakPoint){
							left: -50px;
						}
					}

					&_next{

						@include breakPoint($breakPoint){
							right: -50px;
						}
					}
				}
			}
		}
		&-slide{}
	}
}


.contacts{
	position: relative;


	.ico{
		&-phone,
		&-email,
		&-file,
		&-watch{
			width: 18px;
			height: 18px;
			background: no-repeat 50% 50% ;
			background-size: contain;
		}

		&-phone{
			background-image: url("../../img/svg/ico-phone.svg");
		}
		&-email{
			background-image: url("../../img/svg/ico-email.svg");
		}
		&-watch{
			background-image: url("../../img/svg/ico-watch.svg");
		}
		&-file{
			background-image: url("../../img/svg/file.svg");
		}
	}

	&__map{
		height: 340px;

		@include breakPoint($breakPoint){
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: auto;
		}
	}

	.inner{
		position: relative;

		@include breakPoint($breakPoint){
			padding: 30px 0 60px;
		}
	}

	&__info{
		padding: 20px;
		background: #fff;
		box-sizing: border-box;

		@include breakPoint($breakPoint){
			box-shadow: 0 0 5px rgba(0,0,0,0.1);
			padding: 30px;
			width: 450px;
			margin-left: calc(100% - 450px);
		}

		@include breakPoint($breakPointDT){
			width: 578px;
			margin-left: calc(100% - 578px);
		}

	}

	&__title{
		font-size: 14px;
		font-weight: bold;
		margin: 20px 0;

		&:first-child{
			margin-top: 0;
		}
	}

	&__subtitle{
		font-size: 14px;
		margin: 20px 0;
	}

	&__text{
		font-size: 10px;

		p{
			margin: 15px 0;
		}
	}

	&__list{
		font-size: 0;
		margin: 20px 0;
	}

	&__item{
		position: relative;
		margin: 10px 0;
		box-sizing: border-box;

		@include breakPoint($breakPoint){
			margin: 0 0 20px 0;
			width: 50%;
			display: inline-block;
			vertical-align: top;
		}

		&-ico{
			width: 18px;
			height: 18px;
			position: absolute;
			top: 0;
			left: 0;




			& ~ {
				.contacts__item-value,
				.contacts__item-footnote{
					padding-left: 25px;
				}
			}


		}
		&-value{
			font-size: 16px;
		}
		&-footnote{
			display: none;
			font-size: 10px;
			color: #ADADAD;

			@include breakPoint($breakPoint){
				display: block;
				margin-top: 8px;
			}
		}
	}

	&__file{
		display: none;

		@include breakPoint($breakPoint){
			display: block;
		}

		&-item{
			padding: 10px 0 10px 50px;
			position: relative;
		}

		&-ico{
			width: 47px;
			height: 47px;
			position: absolute;
			top: 0;
			left: 0;

			.ico-file{
				width: 100%;
				height: 100%;
			}
		}

		&-text{
			color: #ADADAD;
			font-size: 10px;

			a{
				color: $colorBlue;
				text-decoration: underline;
			}
		}
	}

	&__navigate{

		@include breakPoint($breakPoint){
			display: none;
			position: absolute;

			left: 0;
			bottom: 50px;
		}

		.btn{
			width: 100%;
		}
	}
}


.order{

	hr{
		box-shadow: none;
		height: 1px;
		background: $colorBorder;
		display: block;
		clear: both;
		margin: 20px -20px;

		@include breakPoint($breakPoint){
			display: none;
		}
	}

	&__title{
		font-size: 16px;
		margin-bottom: 27px;

		@include breakPoint($breakPoint){
			font-size: 18px;
			margin-bottom: 20px;
		}
	}

	&__list{
		margin-bottom: 20px;


		@include breakPoint(0, $breakPoint){
		}

	}

	&__item{
		margin-bottom: 20px;

		@include breakPoint($breakPoint){
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: center;
			align-items: center;
			border-bottom: 1px solid $colorBorder;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}

		&:after{
			content: '';
			display: table;
			clear: both;
		}

		&-name{
			font-size: 14px;
			margin-bottom: 10px;

			@include breakPoint($breakPoint){
				order: 1;
				margin-bottom: 0;
				padding-right: 20px;
				width: 100%;
			}
		}

		&-image{
			width: 118px;
			height: 90px;
			font-size: 0;

			@include breakPoint(0, $breakPoint){
				float: left;
			}

			@include breakPoint($breakPoint){
				width: 63px;
				height: 48px;
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 63px;
				margin-right: 20px;
			}

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-edit{

			@include breakPoint(0, $breakPoint){
				margin: 0 0 10px 145px;
			}

			@include breakPoint($breakPoint){
				order: 2;

				width: 180px;
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 180px;
			}

			a{
				color: $colorBlue;


				@include breakPoint(0, $breakPoint){
					color: $colorBlue;
					display: block;
					text-align: center;
					line-height: 40px;
					height: 40px;
					box-sizing: border-box;
					background: #E7ECF3;
				}

				@include breakPoint($breakPoint){
					font-weight: bold;

					&:before{
						content: '';
						display: inline-block;
						width: 15px;
						height: 15px;
						background: url("../../img/svg/edit.svg") no-repeat 50% 50%;
						background-size: contain;
						vert-align: middle;
						position: relative;
						top: 3px;
						margin-right: 15px;
					}
				}
			}
		}
		&-remove{

			@include breakPoint(0, $breakPoint){
				margin: 0 0 0 145px;
			}

			@include breakPoint($breakPoint){
				order: 2;

				width: 180px;
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 180px;
			}

			a{
				color: $colorBlue;


				@include breakPoint(0, $breakPoint){
					color: $colorBlue;
					display: block;
					text-align: center;
					line-height: 40px;
					height: 40px;
					box-sizing: border-box;
					border: 1px solid #E6ECF3;
				}

				@include breakPoint($breakPoint){
					font-weight: bold;

					&:before{
						content: '';
						display: inline-block;
						width: 15px;
						height: 15px;
						background: url("../../img/svg/close.svg") no-repeat 50% 50%;
						background-size: contain;
						vert-align: middle;
						position: relative;
						top: 3px;
						margin-right: 15px;
					}
				}
			}
		}
	}
	&__form{

		@include breakPoint($breakPoint){
			width: 660px;
			max-width: calc(100% - 100px);
		}

		.form{
			margin-bottom: 30px;

			&_file{
				.form__field{

					@include breakPoint($breakPoint){
						width: (100% / 3);

						&_textarea{
							width: 100%;
						}
					}

					&_drop{
						width: (2 * 100% / 3);
					}
				}
			}

			&__field{

			}


		}
	}
}


.norms{
	&__content{}
	&__title{
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 20px;
		margin-top: 30px;

		@include breakPoint($breakPoint){
			font-size: 24px;
		}
	}

	&__menu{
		text-align: center;
		font-size: 0;
		margin-bottom: 20px;

		@include breakPoint(0, $breakPoint){
			white-space: nowrap;
			margin-left: -20px;
			margin-right: -20px;
			@include scrollHor;

			.btn{
				&:first-child{
					margin-left: 20px;
				}

				&:last-child{
					margin-right: 20px;
				}
			}
		}

		.btn{
			width: 40%;

			max-width: 200px;
			margin: 0 5px;
			&.active{
				background-color: $colorBlue;
				color: #fff;
			}
		}
	}
	&__list{
		display: none;
		font-size: 0;
		text-align: center;

		&.active{
			display: block;
		}

		@include breakPoint($breakPoint){
			margin: 0 -20px;
			text-align: left;
		}

		@include breakPoint($breakPointDT){
			margin: 0 auto;
			width: (4 * 100% / 6);
		}
	}
	&__item{

		margin-bottom: 20px;
		display: inline-block;
		max-width: 500px;
		text-align: left;
		box-sizing: border-box;

		@include breakPoint($breakPoint){
			width: 50%;
			padding: 0 20px;
			max-width: 100%;
		}

		&-title{
			font-size: 14px;
			margin-bottom: 5px;

			@include breakPoint($breakPoint){
				font-size: 16px;
			}

		}

		&-image{
			img{
				width: 100%;
			}
		}
	}
}