


@mixin clearfix(){
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}



@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@mixin toRem($property, $values...) {
	$fontSize: 16;
	$max: length($values);
	$pxValues: '';
	$remValues: '';

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$pxValues: #{$pxValues + $value/$fontSize}rem;

		@if $i < $max {
			$pxValues: #{$pxValues + ' '};
		}
	}

	@for $i from 1 through $max {
		$value: strip-unit(nth($values, $i));
		$remValues: #{$remValues + $value}px;

		@if $i < $max {
			$remValues: #{$remValues + ' '};
		}
	}

	#{$property}: $remValues;
	#{$property}: $pxValues;
}



@mixin breakPoint ($min, $max: null){
	@if ($max) {
		@media (min-width: #{$min}) and (max-width: #{$max - 1px}){
			@content;
		}
	}
	@else {
		@media (min-width: #{$min}) {
			@content;
		}
	}
}




@mixin closeBtn($width: 30px, $height: 4px){
	position: absolute;
	width: $width;
	height: $width;
	cursor: pointer;
	top: 22px;
	right: 22px;

	&:before,
	&:after{
		content: '';
		width: $width;
		height: $height;
		margin-top: -($height/2);
		margin-left: -($width/2);
		position: absolute;
		top: 50%;
		left: 50%;
		background: currentColor;
		//border-radius: #{$height};
	}

	&:before{
		transform: rotate(45deg);
	}

	&:after{
		transform: rotate(135deg);
	}

}




@mixin burgerButton ($openClass: '.is-open', $handlerWidth: 30px, $handlerHeight: 4px, $handlerRadius: 5px){
	cursor: pointer;

	i{
		display: block;
		width: $handlerWidth;
		height: $handlerHeight;
		background: currentColor;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -($handlerHeight/2);
		margin-left: -($handlerWidth/2);
		transition: all 0.3s ease;
		border-radius: $handlerRadius;

		#{$openClass} &{
			width: $handlerHeight;
			margin-left: -($handlerHeight/2);
		}

		&:before,
		&:after{
			content: '';
			display: block;
			width: $handlerWidth;
			height: $handlerHeight;
			background: currentColor;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -($handlerHeight/2);
			margin-left: -($handlerWidth/2);
			transition: all 0.3s ease;
			border-radius: $handlerRadius;
		}

		&:before{
			top:-(($handlerWidth/3) - ($handlerHeight/2));
			#{$openClass} &{
				top:50%;
				transform: rotate(45deg);
			}
		}

		&:after{
			top: (($handlerWidth/3) + ($handlerHeight/2));
			#{$openClass} &{
				top:50%;
				transform: rotate(135deg);;
			}
		}
	}
}


@mixin ellipsis($lines: 2){

	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
}




@mixin scrollHor() {
	overflow: auto;
	overflow-x: scroll;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
	overflow-y: hidden;

	&::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
	}
	::-webkit-scrollbar-track-piece{
		background-color: transparent;
		-webkit-border-radius: 6px;
	}
}