$popupZIndex: 100;
$popupOverlayColor: rgba(#dedede, 0.9) !default;

.popup {

	display: none;

	&.is-open {
		display: block !important;
	}

	&__overlay {
		background-color: $popupOverlayColor;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;

		@include breakPoint(0, $breakPoint){
			display: none;
		}
	}

	&__inner {
		position: relative;

		@include breakPoint(0, $breakPoint){
			padding-top: 60px;
		}

		@include breakPoint($breakPoint){
			position: fixed;
			height: 100%;
			left: 0;
			overflow: auto;
			text-align: center;
			top: 0;
			width: 100%;
			overflow-y: scroll;
			z-index: $popupZIndex;
			box-sizing: border-box;
			padding: 70px 47px;
		}


		display: block;
		background: transparent;
		font-size: 0;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout {
		//background-color: rgba($colorText, 0.07);
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: 100%;
		max-width: 1186px;
		min-height: 100px;
		text-align: left;
		font-size: 12px;

		@include breakPoint(0, $breakPoint){

		}

		@include breakPoint($breakPoint){
			background-color: white;
			font-size: 14px;
		}
	}

	&__close {
		width: 21px;
		height: 21px;
		position: absolute;
		cursor: pointer;
		top: 52px;
		right: 20px;

		background: url("../../img/svg/close.svg") no-repeat 50% 50%;
		background-size: contain;

		@include breakPoint($breakPoint){
			top: 30px;
			right: 30px;
		}

		&:hover {

		}
	}

	&__content{
		padding: 50px 20px 30px;

		@include breakPoint(0, $breakPoint){

		}

		@include breakPoint($breakPoint){
			padding: 30px;

		}
	}

	&__articul{
		font-size: 12px;
		margin-bottom: 15px;
		color: $colorGrey;

		@include breakPoint($breakPoint){
			font-size: 14px;
			margin-bottom: 15px;
		}
	}

	&__title{
		font-size: 20px;
		font-weight: bold;
		margin: 0 -20px 20px;
		padding: 0 50px 15px 20px;
		border-bottom: 1px solid $colorBorder;
		line-height: 1.5;

		@include breakPoint($breakPoint){
			padding: 0 50px 30px 0;
			margin: 0 0 30px;

			&_noborder{
				border: 0;
				padding-bottom: 0;
			}
		}
	}

	&__text{

	}




	&_info{

		.form__field {
			margin-bottom: 10px;

			&:last-child{
				margin-bottom: 0;
			}
		}

		.popup{

			&__layout{

				@include breakPoint($breakPoint){
					max-width: 450px;
					text-align: center;
				}
			}

			&__title{
				@include breakPoint(0, $breakPoint){
					border: none;
				}
				@include breakPoint($breakPoint){
					padding: 0 40px 20px;


					& + .popup__btn{
						margin-top: -31px;
					}

					&_noborder{
						border: 0;
						padding-bottom: 0;
					}
				}
			}


			&__text{
				font-size: 14px;
				line-height: 1.35;
				margin-bottom: 30px;
			}

			&__form{
				margin-bottom: 30px;
			}

			&__order{
				margin: 30px 0;
				font-size: 14px;

				&-image{

					margin-bottom: 10px;

					@include breakPoint($breakPoint){
						margin-bottom: 20px;
					}

					img{
						max-width: 100%;

						@include breakPoint($breakPoint){
							max-width: 180px;
						}
					}
				}

				&-text{
					margin-bottom: 10px;

					img{
						width: 100%;
					}
				}

				&-art{
					position: relative;

					&-num{
						font-size: 24px;
						margin-bottom: 10px;
						display: inline-block;
						margin-right: 15px;

						@include breakPoint($breakPoint){
							margin-right: 0;
						}
					}

					&-copy{
						color: #8A8A8A;
						display: inline-block;
						cursor: pointer;

						@include breakPoint($breakPoint){
							position: absolute;
							right: 0;
							top: 6px;
						}

						&:hover{
							color: $colorBlue;
							text-decoration: underline;
						}
					}
				}

				&-table{


					@include breakPoint($breakPoint){
						display: table;
					}
				}
				&-col{
					display: table-cell;
					vertical-align: middle;
					text-align: left;

					&_name{

						display: block;
						width: 100%;
						margin-bottom: 10px;

						@include breakPoint($breakPoint){
							width: 50%;
							display: table-cell;
							margin: 0;
						}
					}

					&_dim{

						color: #ADADAD;
						font-size: 10px;
						line-height: 26px;

						@include breakPoint(0, $breakPoint){
							width: 50%;
						}
					}

					&_price{

						font-size: 16px;
						font-weight: 500;
						text-align: right;
						line-height: 26px;

						@include breakPoint(0, $breakPoint){
							width: 50%;
						}
					}
				}
			}

			&__btn{

				@include breakPoint($breakPoint){
					border-top: 1px solid $colorBorder;
					padding-top: 20px;

					&_noborder{
						border: 0;
						padding-top: 0;
					}
				}

				.btn{
					width: 100%;
					margin-bottom: 10px;

					&:last-child{
						margin-bottom: 0;
					}

					@include breakPoint($breakPoint){
						width: auto;
						min-width: 180px;
					}
				}
			}
		}
	}


	&_calculator{


		@include breakPoint($breakPoint){
			display: block;

			&.is-open{
				.popup__inner{
					right: 0;
				}
			}
		}

		.popup{
			&__btn{
				.btn{
					width: 100%;
				}
			}

			&__layout{



				@include breakPoint($breakPoint){
					width: 287px;
					border-radius: 20px 0 0 20px;
					box-shadow: 0 0 10px rgba(0,0,0,0.5);
				}

			}

			&__text{

				@include breakPoint($breakPoint){
					font-size: 12px;
				}
			}

			&__inner{

				@include breakPoint($breakPoint){
					overflow: auto;
					width: auto;
					padding: 0 0 0 10px;
					left: auto;
					right: -350px;
					transition: right 0.5s ease;
				}

			}

			&__form{

				.form{

					&__input{
						position: relative;
					}

					&__title{
						font-size: 10px;
						color: #ADADAD;
						text-transform: uppercase;
					}

					&__ico{
						position: absolute;
						right: 0;
						top: 12px;
						white-space: nowrap;
						pointer-events: none;

						span{
							display: inline-block;
							vertical-align: middle;
							color: #ADADAD;
							font-size: 14px;
							opacity: 0;
						}

						img{
							margin-left: 10px;
							height: 20px;
							display: inline-block;
							vertical-align: middle;
						}

					}

					&__field.f-filled,
					input:focus ~ {
						.form__ico span{
							opacity: 1;
						}
					}

				}
			}


			&__btn{
				margin-top: 40px;
			}
		}

		.form__select-scrollbar{
			max-height: 150px;
		}
	}


	&_message{

		.popup__content{
			padding-right: 80px;
		}

		.popup__layout{
			max-width: 500px;
		}

		.popup__overlay{
			opacity: 0.5;
		}
	}
}
