$fontMain: 'Open Sans', sans-serif;
$breakPoint: 800px;
$breakPointDT: 1280px;
$breakPointFullHD: 1600px;


$colorBorder: #d9d9d9;
$colorBlue: #154889;
$colorGreen: #609d52;
$colorYellow: #fce83f;
$colorRed: #ff0042;
$colorBlack: #000;
$colorText: #ADADAD;
$colorGrey: #707070;

$gutter: 30px;

$popupOverlayColor: $colorBlue;


.c{
	&-yellow{
		color: $colorYellow;
	}
	&-green{
		color: $colorGreen;
	}
	&-blue{
		color: $colorBlue;
	}
	&-red{
		color: $colorRed;
	}
}
